<ul>
  <li>1. Hệ thống CDS là gì</li>
  <ul>
    <li>CDS viết tắt của cụm từ Career Development System, đây là hệ thống đánh giá năng lực của nhân viên, được thiết
      kế riêng cho Nam Minh và các công ty con. Bên cạnh đó thì hệ thống còn giúp nhân viên nhìn thấy lộ trình phát
      triển của từng role, từ đó có kế hoạch làm việc và học tập phù hợp.</li>
    <li>1.1. Những ai tham gia vào hệ thống đánh giá này</li>
    <ul>
      <li>1.1.1. Ai cần đọc tài liệu này</li>
      <ul>
        <li>Hệ thống xây dựng cho tất cả nhân viên:</li>
        <li>• HR / BoD:</li>
        <ul>
          <li>◦ Lên kế hoạch đánh giá CDS/CDP cho từng giai đoạn</li>
          <li>◦ Tạo bộ dữ liệu CS/CDP cho từng role: cấu hình title / level mapping, define template đánh giá, ...</li>
          <li>◦ Quản lý thông tin các công ty, dự án, role, title</li>
          <li>◦ Cấp quyền cho các các nhóm người dùng</li>
          <li>◦ Review / approve CDS/CDP các công ty</li>
          <li>◦ Quản lý cập bậc và tình hình nhân sự các công ty</li>
        </ul>
        <li>• PM:</li>
        <ul>
          <li>◦ Set deadline nội bộ dự án dựa trên kế hoạch đánh giá của HR</li>
          <li>◦ Phân quyền review CDS/CDP cho member trong dự án</li>
          <li>◦ Review / approve CDS/CDP của dự án</li>
          <li>◦ Theo dõi tình hình cấp bậc, nhân sự trong dự án</li>
        </ul>
        <li>• Staff: </li>
        <ul>
          <li>◦ Tự đánh giá năng lực</li>
          <li>◦ Lên kế hoạch phát triển giai đoan tiếp theo</li>
          <li>◦ Xem lịch sử đánh giá / phát triển của mình trong công ty</li>
        </ul>
        <li>• Admin: quản trị toàn bộ các tính năng trong hệ thống, hỗ trợ các bộ phận khi có vấn đề</li>
      </ul>
      <li>1.1.2. Các tính năng chính</li>
      <ul>
        <li>• Account:</li>
        <ul>
          <li>◦ My account</li>
          <li>◦ Change password</li>
        </ul>
        <li>• Administration: </li>
        <ul>
          <li>◦ Company management</li>
          <li>◦ Project management</li>
          <li>◦ Role management</li>
          <li>◦ Title management</li>
          <li>◦ Template management</li>
          <li>◦ Level mapping</li>
          <li>◦ User management</li>
          <li>◦ User group management</li>
        </ul>
        <li>• CDS / CDP assessment</li>
        <ul>
          <li>◦ Schedule management</li>
          <li>◦ Establish CDS / CDP</li>
          <li>◦ Review & feedback CDS / CDP</li>
          <li>◦ Approve & feedback CDS / CDP</li>
        </ul>
        <li>• Statistic / Dashboard</li>
      </ul>
    </ul>
  </ul>
  <li>2. Hướng dẫn sử dụng hệ thống CDS</li>
  <ul>
    <li>2.1. My account</li>
    <ul>
      <li>Menu Administrator > My Account hoặc click vào User name góc phải trên của màn hình</li>
      <li>• Access Right: bất kỳ user nào cũng có thể xem thông tin account của mình</li>
      <li>• User có thể xem thông tin cá nhân của mình trên hệ thống như ngày tháng năm sinh, số điện thoại, email,
        skype (hoặc 1 account chat mà công ty đang sử dụng), ngày vào công ty, …</li>
    </ul>
    <li>2.2. Change password</li>
    <ul>
      <li>Menu Administrator > My Account > Change Password hoặc click vào User name góc phải trên của màn hình, chọn
        Change Password</li>
      <li>• Access Right: bất kỳ user nào cũng có thể xem change password cho account của mình</li>
      <li>• Cho phép user có thể thay đổi mật khẩu bằng cách nhập lại mật khẩu cũ và mật khẩu mới</li>
      <ul>
        <li>◦ Mật khẩu mới cần đảm bảo các tiêu chí về bảo mật như sau</li>
        <ul>
          <li>▪ Tối thiểu 6 ký tự</li>
          <li>▪ Đảm bảo có ký tự hoa, thường, ký tự đặc biệt và số</li>
          <ul>
            <li>• Sau khi thay đổi thành công thì user có thể log-out và log-in lại với mật khẩu mới</li>
          </ul>
        </ul>
      </ul>
      <li>2.3. Setting</li>
      <ul>
        <li>Menu Administrator > Organization Settings</li>

        <li>• Access Right: </li>
        <ul>
          <li>◦ HR, BoD: thêm, xóa, sửa</li>
          <li>◦ PM / Staff: xem thông tin của công ty, dự án mà mình tham gia</li>
        </ul>
        <li>2.3.1. Company Information</li>
        <ul>
          <li><img src="../assets/help_organization_company.png"></li>
          <li>Trong màn hình Organization Settings > Chọn Company bên left menu</li>
          <li>• Khi mới chọn vào Company từ left menu thì vùng thông tin phía trên cho phép HR tạo mới 1 Company</li>
          <ul>> <li>◦ HR nhập các thông tin bắt buộc (có đánh (*) bên cạnh) và tuân thủ theo format mà hệ thống yêu
              cầu</li>
            <li>◦ Nhấn nút Save thì thông tin Company mới được lưu và đưa xuống danh sách bên dưới</li>
            <li>◦ Nhấn nút Cancel thì form sẽ reset tất cả thông tin</li>
          </ul <li>• Bên dưới là danh sách Company đang có, HR có thể:</li>
          <ul>
            <li>◦ Cập nhật thông tin các Company, nhấn icon edit (hình bút chì màu vàng) tại dòng muốn sửa thông tin
            </li>
            <li>◦ Enable / disable Company, nhấn icon công tắc màu xanh dương</li>
            <li>◦ Chỉ xóa với những Company chưa có nhân viên, nhấn icon xóa (hình sọt rác màu đỏ) tại dòng muốn xóa
            </li>
          </ul>
        </ul>
        <li>2.3.2. Project Information</li>
        <ul>
          <li><img src="../assets/help_organization_project.png"></li>
          <li>• Trong màn hình Organization Settings > Chọn Project bên left menu</li>
          <li>• Khi mới chọn vào Project từ left menu thì vùng thông tin phía trên cho phép HR tạo mới 1 Project</li>
          <ul>
            <li>◦ HR nhập các thông tin bắt buộc (có đánh (*) bên cạnh) và tuân thủ theo format mà hệ thống yêu cầu
            </li>
            <li>◦ Nhấn nút Save thì thông tin Project mới được lưu và đưa xuống danh sách bên dưới</li>
            <li>◦ Nhấn nút Cancel thì form sẽ reset tất cả thông tin</li>
          </ul>
          <li>• Bên dưới là danh sách Project đang có, HR có thể:</li>
          <ul>
            <li>◦ Cập nhật thông tin các Project, nhấn icon edit (hình bút chì màu vàng) tại dòng muốn sửa thông tin
            </li>
            <li>◦ Enable / disable Project, nhấn icon công tắc màu xanh dương</li>
            <li>◦ Chỉ xóa với những Project chưa có nhân viên, nhấn icon xóa (hình sọt rác màu đỏ) tại dòng muốn xóa
            </li>
          </ul>
        </ul>
        <li>2.3.3. Role Information</li>
        <ul>
          <li><img src="../assets/help_organization_role.png"></li>

          <li>• Trong màn hình Organization Settings > Chọn Role bên left menu</li>
          <li>• Khi mới chọn vào Role từ left menu thì vùng thông tin phía trên cho phép HR tạo mới 1 Role</li>
          <ul>
            <li>◦ HR nhập các thông tin bắt buộc (có đánh (*) bên cạnh) và tuân thủ theo format mà hệ thống yêu cầu
            </li>
            <li>◦ Nhấn nút Save thì thông tin Role mới được lưu và đưa xuống danh sách bên dưới</li>
            <li>◦ Nhấn nút Cancel thì form sẽ reset tất cả thông tin</li>
          </ul>
          <li>• Bên dưới là danh sách Role đang có, HR có thể:</li>
          <ul>
            <li>◦ Cập nhật thông tin các Role, nhấn icon edit (hình bút chì màu vàng) tại dòng muốn sửa thông tin</li>
            <li>◦ Enable / disable Role, nhấn icon công tắc màu xanh dương</li>
            <li>◦ Chỉ xóa với những Role chưa có nhân viên được gán, role chưa gán CDS/CDP template, nhấn icon xóa
              (hình sọt rác màu đỏ) tại dòng muốn xóa</li>
          </ul>
        </ul>
        <li>2.3.4. Title Information</li>
        <ul>
          <li><img src="../assets/help_organization_title.png"></li>
          <li>• Trong màn hình Organization Settings > Chọn Title bên left menu</li>
          <li>• Khi mới chọn vào Title từ left menu thì vùng thông tin phía trên cho phép HR tạo mới 1 Title</li>
          <ul>
            <li>◦ HR nhập các thông tin bắt buộc (có đánh (*) bên cạnh) và tuân thủ theo format mà hệ thống yêu cầu
            </li>
            <li>◦ Nhấn nút Save thì thông tin Title mới được lưu và đưa xuống danh sách bên dưới</li>
            <li>◦ Nhấn nút Cancel thì form sẽ reset tất cả thông tin</li>
          </ul>
          <li>• Bên dưới là danh sách Title đang có, HR có thể:</li>
          <ul>
            <li>◦ Cập nhật thông tin các Title, nhấn icon edit (hình bút chì màu vàng) tại dòng muốn sửa thông tin
            </li>
            <li>◦ Enable / disable Title, nhấn icon công tắc màu xanh dương</li>
            <li>◦ Chỉ xóa với những Title chưa có nhân viên được gán hoặc Title chưa có Title mapping / Level mapping,
              nhấn icon xóa (hình sọt rác màu đỏ) tại dòng muốn xóa</li>
          </ul>
        </ul>
      </ul>
      <li>2.4. Configuration</li>
      <ul>
        <li>2.4.1. Template management</li>
        <ul>
          <li><img src="../assets/help_template.png"></li>
          <li>Menu Administrator > Template Management</li>
          <li>• Access Right: Admin, HR, BoD, PM, Staff</li>
          <ul>
            <li>◦ HR / Amind / BoD: </li>
            <ul>
              <li>▪ Tạo / sửa template đánh giá cho từng role</li>
              <li>▪ Export template ra file excel để xem</li>
            </ul>
            <li>◦ PM / Staff: </li>
            <ul>
              <li>▪ Xem template đánh giá cho từng role</li>
              <li>▪ Export template ra file excel để xem</li>
            </ul>
          </ul>
          <li>2.4.1.1. Tạo / sửa template</li>
          <ul>
            <li><img src="../assets/help_add_edit_template.png"></li>
            <li>• Step 1: định nghĩa các thông tin cơ bản</li>
            <ul>
              <li>◦ Template mới tạo sẽ có status = disable</li>
              <li>◦ Các field bắt buộc nhập: </li>
              <ul>
                <li>▪ Template name: tên gợi nhớ của template</li>
                <li>▪ Role: chọn từ danh sách role có sẵn. Role được định nghĩa từ phần Setting</li>
              </ul>
            </ul>
            <li><img src="../assets/help_add_edit_template2.png"></li>
            <li>• Step 2: tạo bộ competency cho template</li>
            <li>◦ Các field bắt buộc:</li>
            <ul>
              <li>▪ Name: tên competency, tên gần ngắn gọn và diễn đạt được mảng đang focus để đánh giá</li>
              <li>▪ Type: general: các competency cơ bản – hầu như các competency general của các role sẽ giống nhau,
                special: các competency đặc thù riêng của từng role</li>
            </ul>
            <li>◦ Nhập đầy đủ các field ở vùng trên, nhấn nút Save để đưa vào Competency List bên dưới</li>
            <li>◦ Competency List</li>
            <ul>
              <li>▪ Có thể sắp xếp thứ tự các competency bằng nút mũi tên di chuyển lên xuống. Thứ tự này cũng là thứ tự
                hiển thị khi staff dùng template đánh giá CDS/CDP</li>
              <li>▪ Chỉ những competency chưa có slot chi tiết mới được xóa. Nhấn icon xóa để xóa competency tương ứng
              </li>
              <li>▪ Nhấn icon sửa để cập nhật thông tin competency tương ứng</li>
            </ul>
            <li><img src="../assets/help_add_edit_template3.png"></li>
          </ul>
        </ul>
      </ul>
    </ul>
  </ul>
</ul>