<ul>
  <li class="show-help-css-title  show-help-2">2. Hướng dẫn sử dụng hệ thống CDS</li>
  <ul>
    <li class="show-help-css show-help-2-1">2.1. My account</li>
    <ul>
      <li>Menu Administrator > My Account hoặc click vào User name góc phải trên của màn hình</li>
      <li>• Access Right: bất kỳ user nào cũng có thể xem thông tin account của mình</li>
      <li>• User có thể xem thông tin cá nhân của mình trên hệ thống như ngày tháng năm sinh, số điện thoại, email,
        skype (hoặc 1 account chat mà công ty đang sử dụng), ngày vào công ty, …</li>
    </ul>
    <li class="show-help-css show-help-2-2">2.2. Change password</li>
    <ul>
      <li>Menu Administrator > My Account > Change Password hoặc click vào User name góc phải trên của màn hình, chọn
        Change Password</li>
      <li>• Access Right: bất kỳ user nào cũng có thể xem change password cho account của mình</li>
      <li>• Cho phép user có thể thay đổi mật khẩu bằng cách nhập lại mật khẩu cũ và mật khẩu mới</li>
      <ul>
        <li>◦ Mật khẩu mới cần đảm bảo các tiêu chí về bảo mật như sau</li>
        <ul>
          <li>▪ Tối thiểu 6 ký tự</li>
          <li>▪ Đảm bảo có ký tự hoa, thường, ký tự đặc biệt và số</li>
          <ul>
            <li>• Sau khi thay đổi thành công thì user có thể log-out và log-in lại với mật khẩu mới</li>
          </ul>
        </ul>
      </ul>
      <li class="show-help-css show-help-2-3">2.3. Setting</li>
      <ul>
        <li>Menu Administrator > Organization Settings</li>
        <li>• Access Right: </li>
        <ul>
          <li>◦ HR, BoD: thêm, xóa, sửa</li>
          <li>◦ PM / Staff: xem thông tin của công ty, dự án mà mình tham gia</li>
        </ul>
        <li class="show-help-css show-help-2-3-1">2.3.1. Company Information</li>
        <ul>
          <li><img src="../assets/help_organization_company.png"></li>
          <br>
          <li>Trong màn hình Organization Settings > Chọn Company bên left menu</li>
          <li>• Khi mới chọn vào Company từ left menu thì vùng thông tin phía trên cho phép HR tạo mới 1 Company</li>
          <ul>
            <li>◦ HR nhập các thông tin bắt buộc (có đánh (*) bên cạnh) và tuân thủ theo format mà hệ thống yêu
              cầu</li>
            <li>◦ Nhấn nút Save thì thông tin Company mới được lưu và đưa xuống danh sách bên dưới</li>
            <li>◦ Nhấn nút Cancel thì form sẽ reset tất cả thông tin</li>
          </ul <li>• Bên dưới là danh sách Company đang có, HR có thể:</li>
        <ul>
          <li>◦ Cập nhật thông tin các Company, nhấn icon edit (hình bút chì màu vàng) tại dòng muốn sửa thông tin
          </li>
          <li>◦ Enable / disable Company, nhấn icon công tắc màu xanh dương</li>
          <li>◦ Chỉ xóa với những Company chưa có nhân viên, nhấn icon xóa (hình sọt rác màu đỏ) tại dòng muốn xóa
          </li>
        </ul>
      </ul>
      <li class="show-help-css show-help-2-3-2">2.3.2. Project Information</li>
      <ul>
        <li><img src="../assets/help_organization_project.png"></li>
        <br>
        <li>• Trong màn hình Organization Settings > Chọn Project bên left menu</li>
        <li>• Khi mới chọn vào Project từ left menu thì vùng thông tin phía trên cho phép HR tạo mới 1 Project</li>
        <ul>
          <li>◦ HR nhập các thông tin bắt buộc (có đánh (*) bên cạnh) và tuân thủ theo format mà hệ thống yêu cầu
          </li>
          <li>◦ Nhấn nút Save thì thông tin Project mới được lưu và đưa xuống danh sách bên dưới</li>
          <li>◦ Nhấn nút Cancel thì form sẽ reset tất cả thông tin</li>
        </ul>
        <li>• Bên dưới là danh sách Project đang có, HR có thể:</li>
        <ul>
          <li>◦ Cập nhật thông tin các Project, nhấn icon edit (hình bút chì màu vàng) tại dòng muốn sửa thông tin
          </li>
          <li>◦ Enable / disable Project, nhấn icon công tắc màu xanh dương</li>
          <li>◦ Chỉ xóa với những Project chưa có nhân viên, nhấn icon xóa (hình sọt rác màu đỏ) tại dòng muốn xóa
          </li>
        </ul>
      </ul>
      <li class="show-help-css show-help-2-3-3">2.3.3. Role Information</li>
      <ul>
        <li><img src="../assets/help_organization_role.png"></li>
        <br>
        <li>• Trong màn hình Organization Settings > Chọn Role bên left menu</li>
        <li>• Khi mới chọn vào Role từ left menu thì vùng thông tin phía trên cho phép HR tạo mới 1 Role</li>
        <ul>
          <li>◦ HR nhập các thông tin bắt buộc (có đánh (*) bên cạnh) và tuân thủ theo format mà hệ thống yêu cầu
          </li>
          <li>◦ Nhấn nút Save thì thông tin Role mới được lưu và đưa xuống danh sách bên dưới</li>
          <li>◦ Nhấn nút Cancel thì form sẽ reset tất cả thông tin</li>
        </ul>
        <li>• Bên dưới là danh sách Role đang có, HR có thể:</li>
        <ul>
          <li>◦ Cập nhật thông tin các Role, nhấn icon edit (hình bút chì màu vàng) tại dòng muốn sửa thông tin</li>
          <li>◦ Enable / disable Role, nhấn icon công tắc màu xanh dương</li>
          <li>◦ Chỉ xóa với những Role chưa có nhân viên được gán, role chưa gán CDS/CDP template, nhấn icon xóa
            (hình sọt rác màu đỏ) tại dòng muốn xóa</li>
        </ul>
      </ul>
      <li class="show-help-css show-help-2-3-4">2.3.4. Title Information</li>
      <ul>
        <li><img src="../assets/help_organization_title.png"></li>
        <br>
        <li>• Trong màn hình Organization Settings > Chọn Title bên left menu</li>
        <li>• Khi mới chọn vào Title từ left menu thì vùng thông tin phía trên cho phép HR tạo mới 1 Title</li>
        <ul>
          <li>◦ HR nhập các thông tin bắt buộc (có đánh (*) bên cạnh) và tuân thủ theo format mà hệ thống yêu cầu
          </li>
          <li>◦ Nhấn nút Save thì thông tin Title mới được lưu và đưa xuống danh sách bên dưới</li>
          <li>◦ Nhấn nút Cancel thì form sẽ reset tất cả thông tin</li>
        </ul>
        <li>• Bên dưới là danh sách Title đang có, HR có thể:</li>
        <ul>
          <li>◦ Cập nhật thông tin các Title, nhấn icon edit (hình bút chì màu vàng) tại dòng muốn sửa thông tin
          </li>
          <li>◦ Enable / disable Title, nhấn icon công tắc màu xanh dương</li>
          <li>◦ Chỉ xóa với những Title chưa có nhân viên được gán hoặc Title chưa có Title mapping / Level mapping,
            nhấn icon xóa (hình sọt rác màu đỏ) tại dòng muốn xóa</li>
        </ul>
      </ul>
    </ul>
    <li class="show-help-css show-help-2-4">2.4. Configuration</li>
    <ul>
      <li class="show-help-css show-help-2-4-1">2.4.1. Template management</li>
      <ul>
        <li><img src="../assets/help_template.png"></li>
        <br>
        <li>Menu Administrator > Template Management</li>
        <li>• Access Right: Admin, HR, BoD, PM, Staff</li>
        <ul>
          <li>◦ HR / Amind / BoD: </li>
          <ul>
            <li>▪ Tạo / sửa template đánh giá cho từng role</li>
            <li>▪ Export template ra file excel để xem</li>
          </ul>
          <li>◦ PM / Staff: </li>
          <ul>
            <li>▪ Xem template đánh giá cho từng role</li>
            <li>▪ Export template ra file excel để xem</li>
          </ul>
        </ul>
        <li class="show-help-css show-help-2-4-1-1">2.4.1.1. Tạo / sửa template</li>
        <ul>
          <li><img src="../assets/help_add_edit_template.png"></li>
          <br>
          <li>• Step 1: định nghĩa các thông tin cơ bản</li>
          <ul>
            <li>◦ Template mới tạo sẽ có status = disable</li>
            <li>◦ Các field bắt buộc nhập: </li>
            <ul>
              <li>▪ Template name: tên gợi nhớ của template</li>
              <li>▪ Role: chọn từ danh sách role có sẵn. Role được định nghĩa từ phần Setting</li>
            </ul>
          </ul>
          <li><img src="../assets/help_add_edit_template2.png"></li>
          <br>
          <li>• Step 2: tạo bộ competency cho template</li>
          <ul>
            <li>◦ Các field bắt buộc:</li>
            <ul>
              <li>▪ Name: tên competency, tên gần ngắn gọn và diễn đạt được mảng đang focus để đánh giá</li>
              <li>▪ Type: general: các competency cơ bản – hầu như các competency general của các role sẽ giống nhau,
                special: các competency đặc thù riêng của từng role</li>
            </ul>
            <li>◦ Nhập đầy đủ các field ở vùng trên, nhấn nút Save để đưa vào Competency List bên dưới</li>
            <li>◦ Competency List</li>
            <ul>
              <li>▪ Có thể sắp xếp thứ tự các competency bằng nút mũi tên di chuyển lên xuống. Thứ tự này cũng là thứ tự
                hiển thị khi staff dùng template đánh giá CDS/CDP</li>
              <li>▪ Chỉ những competency chưa có slot chi tiết mới được xóa. Nhấn icon xóa để xóa competency tương ứng
              </li>
              <li>▪ Nhấn icon sửa để cập nhật thông tin competency tương ứng</li>
            </ul>
          </ul>
          <li><img src="../assets/help_add_edit_template3.png"></li>
          <br>
          <li>• Step 3: tạo chi tiết slot cho các competency</li>
          <ul>
            <li>◦ Chọn 1 competency để tạo các slot chi tiết</li>
            <li>◦ Trong 1 competency có thể có nhiều level, mỗi level có nhiều slot. Do đó cần xác định level của slot trước khi tạo thông tin chi tiết slot</li>
            <li>◦ Slot description: thông tin mô tả slot, phần mà template muốn focus đánh giá</li>
            <li>◦ Evidence guide: hướng dẫn cách nhân viên đưa bằng chứng để đánh giá slot</li>
            <li>◦ Nhấn nút Save để thông tin slot được đưa vào Slot List bên dưới</li>
            <li>◦ Nhấn nút Finish để hoàn tất việc tạo template. Lúc này hệ thống sẽ hiển thị popup confirm user có muốn enable template không, user nhấn Yes để enable template, No thì template tiếp tục trạng thái disable. Đây là chỗ duy nhất để user có thể thay đổi trạng thái của template</li>
          </ul>
        </ul>
      </ul>
      <li class="show-help-css show-help-2-4-2">2.4.2. Level mapping</li>
      <ul>
        <li>Menu Administrator > Level mapping</li>
        <li>Cho phép HR tạo title mapping và level mapping theo từng role. </li>
        <ul>
          <li>• Phần này hệ thống migrate data từ file excel của HR. Tuy nhiên, nếu có phát sinh thêm role / title hay có nhu cầu cập nhật thông tin thì HR vẫn có thể chỉnh sửa</li>
        </ul>
        <li class="show-help-css show-help-2-4-2-1">2.4.2.1. Title mapping</li>
        <ul>
          <li><img src="../assets/help_title_mapping.png"></li>
          <br>
          <li>• Cột Title và Rank được lấy từ module Setting > Title</li>
          <li>• Các Competency (Productivity, Problem Solving, …) được lấy từ Module Template</li>
          <li>• User có thể thay đổi bằng cách cập nhật các giá trị trong combobox, các giá trị đang đi từ 1 – max(rank), ứng với mỗi level của competency có 3 giá trị: (n-1) – n; ++n; n</li>
        </ul>
        <li class="show-help-css show-help-2-4-2-2">2.4.2.2. Level mapping</li>
        <ul>
          <li><img src="../assets/help_title_mapping.png"></li>
          <br>
          <li>• Định nghĩa điều kiện để đạt 1 cấp bậc xác định nào đó theo define của HR, xem ví dụ bên dưới để map rule được tạo với rule của HR define</li>
          <ul>
            <li>◦ Rule 1: cấp 1 bậc 1 cần đạt 7 competency cấp 1 cho cả 2 loại competency là General và special</li>
            <ul>
              <li>▪ Rank 1, level 1: 7 – all – rank 1</li>
            </ul>
            <li>◦ Rule 2: cấp 1 bậc 2 cần đạt 5 competency cấp 1, 2 comtency cấp 2 cho cả 2 loại competency là General và special</li>
            <ul>
              <li>▪ Rank 1, level 2: 5 – all – rank 1</li>
              <li>▪ Rank 1, level 2: 2 – all – rank 2</li>
            </ul>
          </ul>
          <li>• HR có thể thay đổi / thêm / xóa rule cho phù hợp</li>
        </ul>
      </ul>
    </ul>
    <li class="show-help-css show-help-2-5">2.5. User management</li>
    <ul>
      <li class="show-help-css show-help-2-5-1">2.5.1. User management</li>
      <ul>
        <li><img src="../assets/help_usermanagement.png"></li>
        <br>
        <li>Menu Administrator > User Management</li>
        <li>• Access Right: HR, BoD, PM: phân quyền theo các cấp sau:</li>
        <ul>
          <li>◦ Full access on all companies: HR sẽ có quyền này, HR được phép thêm/xoá/sửa/add reviewer/approver cho toàn bộ công ty</li>
          <li>◦ Full access on my company: BOD công ty nào thì sẽ có quyền trên công ty đó. BOD được phép thêm/xoá/sửa/add reviewer/approver cho công ty của BOD đó</li>
          <li>◦ View user management: tất cả staff sẽ được phép xem thông tin user của công ty nhân viên đó</li>
          <li>◦ Add reviewer to user: PM được phép add review cho nhân viên dự án mình và cho chính mình</li>
          <li>◦ Add approver to user: PM được phép add approver cho nhân viên dự án mình và cho chính mình</li>
        </ul>
        <li>• Left menu: cho phép user filter để xem danh sách staff</li>
        <li>• Danh sách:</li>
        <ul>
          <li>◦ Có thể sort theo từng cột bằng cách click vào header của cột đó</li>
          <li>◦ Cột Action: các icon lần lượt từ trái qua phải là: </li>
          <ul>
            <li>▪ Edit thông tin 1 user</li>
            <li>▪ Xóa thông tin 1 userm khi user chưa làm đánh giá CDS</li>
            <li>▪ Gán Reviewer / Approver CDS/CDP cho user</li>
            <ul>
              <li>• HR/BoD: gán Approver cho user</li>
              <li>• PM: gán Reviewer cho user. Có thể không cần gán Reviewer, trong trường hợp không gán Reviewer thì Reviewer = Approver</li>
            </ul>
            <li>▪ Enable / disable user</li>
          </ul>
        </ul>
      </ul>
      <li class="show-help-css show-help-2-5-2">2.5.2. User group management</li>
      <li><img src="../assets/help_usergroupmanagement.png"></li>
      <br>
      <li>Menu Administrator > User Group Management</li>
      <li>• Access Right: HR, BoD</li>
      <ul>
        <li>◦ HR/BoD: tạo group và gán quyền thao tác trên hệ thống CDS cho group</li>
      </ul>
      <li>• Danh sách:</li>
      <ul>
        <li>◦ Có thể sort theo từng cột bằng cách click vào header của cột đó</li>
        <li>◦ Cột Action: các icon lần lượt từ trái qua phải là: </li>
        <ul>
          <li>▪ Edit thông tin 1 user group</li>
          <li>▪ Gán phân quyền cho group: trong popup gán phân quyền, user click chọn vào checkbox trong danh sách bên trái move qua danh sách bên phải, bằng nút mũi tên ở giữa. Nhất nút Save sau khi hoàn tất để lưu thao tác vừa làm</li>
          <li>▪ Gán user vào group, các user này sẽ có tất cả các phân quyền của group này</li>
          <li>▪ Xóa user group</li>
        </ul>
      </ul>
    </ul>
    <li class="show-help-css show-help-2-6">2.6. CDS / CDP assessment</li>
    <ul>
      <li class="show-help-css show-help-2-6-1">2.6.1 CDS / CDP assessment flow</li>
      <ul>
        <li><img src="../assets/help_assessment_flow.png"></li>
        <br>
      </ul>
      <li class="show-help-css show-help-2-6-2">2.6.2 Schedule management</li>
      <ul>
        <li><img src="../assets/help_schedule_management.png"></li>
        <br>
        <li>Menu Administrator > Schedule Management</li>
        <li>• Access Right: HR, BoD, PM, Staff</li>
        <ul>
          <li>◦ HR/BoD: tạo/sửa schedule cho từng period, thông tin bao gồm:</li>
          <ul>
            <li>▪ Company name: schedule này tạo cho công ty nào</li>
            <li>▪ Assessment Period: thời gian mà staff được đánh giá</li>
            <li>▪ Start date: ngày bắt đầu quá trình đánh giá CDS/CDP (ngày này khác period mà nhân viên được đánh giá)</li>
            <li>▪ End date: deadline hoàn tất việc đánh giá</li>
            <li>▪ Reminder: Hệ thống sẽ gửi email nhắc nhở PM trước ngày deadline</li>
          </ul>
          <li>◦ PM: tạo/sửa schedule con dựa trên schedule theo period của HR, set deadline member hoàn thành CDS/CDP và deadline Reviewer hoàn tất quá trình review CDS/CDP</li>
          <ul>
            <li>▪ PM mà không thuộc project nào thì không tạo được schedule con</li>
            <li>▪ 1 Schedule do HR tạo cho 1 period, thì 1 dự án chỉ có 1 schedule con tương ứng</li>
          </ul>
          <li>◦ Staff: được xem thông tin về schedule</li>
        </ul>
        <li>• Ô search: user có thể nhập schedule name hoặc tên công ty để tìm kiếm</li>
        <li>• Danh sách:</li>
        <ul>
          <li>◦ Có thể sort theo từng cột bằng cách click vào header của cột đó</li>
          <li>◦ Cột Action: các icon lần lượt từ trái qua phải là: </li>
          <ul>
            <li>▪ Edit thông tin 1 schedule</li>
            <li>▪ Xóa schedule, chỉ xóa khi schedule chưa đưa vào sử dụng, tức status là New</li>
          </ul>
        </ul>
      </ul>
      <li class="show-help-css show-help-2-6-3">2.6.3. CDS / CDP Assessment</li>
      <ul>
        <li>Menu CDS/CDP > CDS/CDP Assessment</li>
        <li>• Access Right: all Staff, vì ai cũng cần làm CDP/CDP</li>
        <ul>
          <li>◦ Staff: tự đánh giá CDS/CDP của mình, (cho dù đã có hoặc chưa có schedule cho period này), có thể tạo 1 CDS/CDP cho giai đoạn mới ngay sau khi có kết quả approve CDS/CDP đợt này</li>
        </ul>
        <li>• Màn hình Add / Edit: click vào link cột Period hoặc icon edit cột Action, hoặc nút Add phía trên bên phải của danh sách</li>
        <ul>
          <li>◦ Left menu: liệt kê các competencty theo role mà staff đang đánh giá</li>
          <ul>
            <li>▪ Cột 1: G – các competency của nhóm General, S - các competency của nhóm Special (đặc thù riêng để đánh giá cho từng role)</li>
            <li>▪ Cột 2: tên của competency</li>
            <li>▪ Cột 3: </li>
            <ul>
              <li>• Mức Competency: level hiện tại của staff trong competency này</li>
              <li>• Mức Level: số slot đạt trên tổng slot đang có của level này</li>
            </ul>
          </ul>
          <li>◦ Content chính: khi click chọn 1 competency bên left menu thì content hiển thị tất cả slot của tất cả level trong competency đang chọn</li>
          <ul>
            <li>▪ Click vào 1 slot để xem / tự đánh giá cho slot đang chọn</li>
          </ul>
          <li>◦ Ý nghĩa các filed trong 1 slot:</li>
          <ul>
            <li>▪ Staff commit:</li>
            <ul>
              <li>• Un-commit: những slot chưa đánh giá, và cũng chưa muốn đánh giá trong đợt đánh giá nà</li>
              <li>• Commit CDS: Slot staff sẽ đánh giá trong đợt này</li>
              <li>• Commit CDP: Slot staff sẽ đưa vào plan đánh giá đợt tiếp theo</li>
            </ul>
            <li>▪ Selt-Assessment:</li>
            <ul>
              <li>• 1 – Dose Not Meet Minimux Standards</li>
              <li>• 2 – Needs Improvement:</li>
              <li>• 3 – Meet Expectations: từ 3 điểm trở lên là đạt</li>
              <li>• 4 – Exceeds Expectations</li>
              <li>• 5 - Outstanding</li>
            </ul>
          </ul>
          <li>◦ Ý nghĩa các icon trong content 1 slot</li>
          <ul>
            <li>▪ Icon cục pin</li>
            <ul>
              <li>• Icon cục pin đầy: commit CDS và pass theo staff tự đánh giá</li>
              <li>• Icon cục pin 1/2: commit CDS và chưa pass theo staff tự đánh giá</li>
              <li>• Icon cục pin rỗng: commit CDP</li>
              <li>• Blank: Un-commit</li>
            </ul>
            <li>▪ Icon Flag</li>
            <ul>
              <li>• Màu cam: khi Reviewer request Staff update bằng chứng / đánh giá lại slot</li>
              <li>• Màu vàng: khi Staff đã update slot theo yêu cầu</li>
              <li>• Màu xanh: khi Reviewer đồng ý với update của Staff. Nếu Reviewer chưa đồng ý với update của Staff thì Reviewer sẽ request update lại, và process bắt đầu lại với màu cam</li>
            </ul>
            <li>▪ Icon đồng hồ, có mũi tên ngược chiều kim đồng hồ: cho phép xem lịch sử các comment tự đánh giá, feedback của Line Manager</li>
          </ul>
        </ul>
      </ul>
      <li class="show-help-css show-help-2-6-4">2.6.4. CDS / CDP Review</li>
      <ul>
        <li>Menu CDS/CDP > CDS/CDP Review</li>
        <li>• Access Right: HR, BoD, PM (Approver), Reviewer</li>
        <ul>
          <li>◦ Reviewer: do PM assign trong dự án. Reviewer có trách nhiệm review / feedback CDS/CDP của nhân viên được assign, kết quả review sẽ được chuyển qua PM approve</li>
          <ul>
            <li>▪ Có thể nhìn thấy CDS/CDP của những staff mà mình được assign review</li>
          </ul>
          <li>◦ Approver / PM: do HR/BoD assign. Approver không làm việc trực tiếp staff, mà feedback thông qua Reviwer</li>
          <ul>
            <li>▪ Có thể nhìn thấy CDS/CDP của những staff mà mình được assign approve</li>
          </ul>
          <li>◦ HR / BoD: nhận kết quả approve tạm thời từ dự án. Sau khi review / feedback với PM ra kết quả sau cùng thì HR sẽ baseline cấp bậc cuối cùng trong đợt đánh giá cho all staff</li>
          <ul>
            <li>▪ Có thể nhìn thấy CDS/CDP của all staff</li>
          </ul>
        </ul>
        <li>• Màn hình danh sách:</li>
        <ul>
          <li>◦ User được nhìn thấy danh sách CDS/CDP của Staff được assign review/approve</li>
        </ul>
        <li>• Tính năng filter: cho phép thay đổi số lượng hiển thị trong danh sách CD/CDP cần review/approve, vùng cho phép filter phụ thuộc vào group phân quyền mà user dùng để đăng nhập</li>
        <ul>
          <li>◦ Company: cho phép chọn 1 hoặc nhiều công ty</li>
          <li>◦ Project: cho phép chọn 1 hoặc nhiều dự án, các dự án nào thuộc công ty đang chọn ở trên</li>
          <li>◦ Role: cho phép chọn 1 hoặc nhiều Role, các role nào các dự án đang chọn ở trên có</li>
          <li>◦ User: cho phép chọn 1 hoặc nhiều user, các user này đã được lọc từ company / project / role được chọn ở trên</li>
          <li>◦ Period: lọc theo period đánh giá</li>
        </ul>
        <li>• Review / approve 1 CDS/CDP</li>
        <ul>
          <li>◦ Chọn 1 CDS/CDP muốn review từ màn hình danh sách</li>
          <li>◦ Filter các slot muốn review:</li>
          <ul>
            <ul>
              <ul>
                <li><img style="width:500px; height:450px; margin-left:320px" src="../assets/help_filter.png"></li>
                <br>
              </ul>
            </ul>
            <li>▪ Assessing CDS: lọc những slot đánh giá CDS để review</li>
            <li>▪ Assessing CDP: lọc những slot đánh giá CDP để review</li>
            <li>▪ Request Update: lọc những slot request staff cập nhật bằng chứng</li>
            <li>▪ No Assessment: lọc những slot không đánh giá để xem</li>
            <li>▪ Passed slots inprevious period: lọc những slot vừa pass trong lần đánh giá gần nhất</li>
            <li>▪ Failed slots inprevious period: lọc những slot bị fail trong lần đánh giá gần nhất</li>
          </ul>
          <li>◦ Cập nhật thông tin review trong 1 slot cụ thể</li>
          <ul>
            <li><img src="../assets/help_slot_detail.png"></li>
            <br>
            <li>▪ Vùng 1: dữ liệu đánh giá của Staff</li>
            <li>▪ Vùng 2: dữ liệu đánh giá của Reviewer. Reviewer chỉ được đánh giá trong dòng dành riêng cho Reviewer đó, và được xem nội dung đánh giá của Reviewer khác cho slot đang xem</li>
            <li>▪ Vùng 3:  dữ liệu đánh giá của Approver</li>
          </ul>
          <li>◦ Notes: </li>
          <ul>
            <li>▪ 1 Staff có thể có nhiều Reviewer, tối đa 3, và chỉ có 1 Approver</li>
            <li>▪ Reviewer sau khi review và comment tất cả các slot thì nhấn nút Submit để hoàn tất việc đánh giá</li>
            <li>▪ Sau khi tất cả Reviewer đều review xong thì CDS/CDP sẽ chuyển qua Approver để được review/ approve</li>
          </ul>
        </ul>
      </ul>
    </ul>
    <li class="show-help-css show-help-2-7">2.7. Statistic / Dashboar</li>
    <ul>
      <li>Menu Dashboard</li>
      <li><img src="../assets/help_dashboard_staff.png"></li>
      <br>
      <li>• Filter: tùy theo phân quyền mà user được xem số company, project và role như thế nào</li>
      <ul>
        <li>◦ Filter sau sẽ giới hạn trong vùng của filter trước. VD: chọn 1 company thì project chỉ hiển thị các project thuộc company này, tương tự cho role (chỉ hiển thị các role đang có trong các project đang chọn)</li>
      </ul>
      <li>• Number of Employees by Role: thống kê số nhân viên theo role</li>
      <li>• Number of Employees by Gender: thống kê số nhân viên theo giới tính</li>
      <li>• Number of Employees by Title: thống kê số nhân viên theo title</li>
      <li>• Number of Employees by Senority: thống kê số nhân viên theo thâm niên làm việc</li>
      <li class="show-help-css show-help-2-7-1">2.7.1. Staff</li>
      <ul>
        <li><img src="../assets/help_dashboard_staff2.png"></li>
        <br>
        <li>• Ngoài 4 thông tin thống kê mặc định, thì Staff còn có thể xem lịch sử phát triển bản thân mình từ lúc gia nhập công ty cho tới hiện tại. Thông tin này giúp Staff nhìn lại chặng đường phát triển của mình để có kế hoạch phát triển tiếp theo</li>
      </ul>
      <li class="show-help-css show-help-2-7-2">2.7.2. Manager</li>
      <ul>
        <li>• Bên cạnh 4 thống kê mặc định thì manager có thể xem được danh sách nhân viên tăng / giảm / không thay đổi level trong thời gian qua, từ đó có kế hoạch giúp đỡ nhân viên trong con đường phát triển</li>
      </ul>
    </ul>
  </ul>
</ul>
