<ul>
  <li>1. Hệ thống CDS là gì</li>
  <ul>
    <li>CDS viết tắt của cụm từ Career Development System, đây là hệ thống đánh giá năng lực của nhân viên, được thiết
      kế riêng cho Nam Minh và các công ty con. Bên cạnh đó thì hệ thống còn giúp nhân viên nhìn thấy lộ trình phát
      triển của từng role, từ đó có kế hoạch làm việc và học tập phù hợp.</li>
    <li>1.1. Những ai tham gia vào hệ thống đánh giá này</li>
    <ul>
      <li>1.1.1. Ai cần đọc tài liệu này</li>
      <ul>
        <li>Hệ thống xây dựng cho tất cả nhân viên:</li>
        <li>• HR / BoD:</li>
        <ul>
          <li>◦ Lên kế hoạch đánh giá CDS/CDP cho từng giai đoạn</li>
          <li>◦ Tạo bộ dữ liệu CS/CDP cho từng role: cấu hình title / level mapping, define template đánh giá, ...</li>
          <li>◦ Quản lý thông tin các công ty, dự án, role, title</li>
          <li>◦ Cấp quyền cho các các nhóm người dùng</li>
          <li>◦ Review / approve CDS/CDP các công ty</li>
          <li>◦ Quản lý cập bậc và tình hình nhân sự các công ty</li>
        </ul>
        <li>• PM:</li>
        <ul>
          <li>◦ Set deadline nội bộ dự án dựa trên kế hoạch đánh giá của HR</li>
          <li>◦ Phân quyền review CDS/CDP cho member trong dự án</li>
          <li>◦ Review / approve CDS/CDP của dự án</li>
          <li>◦ Theo dõi tình hình cấp bậc, nhân sự trong dự án</li>
        </ul>
        <li>• Staff: </li>
        <ul>
          <li>◦ Tự đánh giá năng lực</li>
          <li>◦ Lên kế hoạch phát triển giai đoan tiếp theo</li>
          <li>◦ Xem lịch sử đánh giá / phát triển của mình trong công ty</li>
        </ul>
        <li>• Admin: quản trị toàn bộ các tính năng trong hệ thống, hỗ trợ các bộ phận khi có vấn đề</li>
      </ul>
      <li>1.1.2. Các tính năng chính</li>
      <ul>
        <li>• Account:</li>
        <ul>
          <li>◦ My account</li>
          <li>◦ Change password</li>
        </ul>
        <li>• Administration: </li>
        <ul>
          <li>◦ Company management</li>
          <li>◦ Project management</li>
          <li>◦ Role management</li>
          <li>◦ Title management</li>
          <li>◦ Template management</li>
          <li>◦ Level mapping</li>
          <li>◦ User management</li>
          <li>◦ User group management</li>
        </ul>
        <li>• CDS / CDP assessment</li>
        <ul>
          <li>◦ Schedule management</li>
          <li>◦ Establish CDS / CDP</li>
          <li>◦ Review & feedback CDS / CDP</li>
          <li>◦ Approve & feedback CDS / CDP</li>
        </ul>
        <li>• Statistic / Dashboard</li>
      </ul>
    </ul>
  </ul>
</ul>
