<%= stylesheet_link_tag 'form_slot', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'form_slot', 'data-turbolinks-track': 'reload' %>

<nav aria-label="breadcrumb" class="">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Admintrator</a></li>
    <li class="breadcrumb-item active">User Management</li>
  </ol>
</nav>
<div class="container-fluid">
  <div class="container-fluid">
    <div class="row" id="body-row">
      <%= render 'left_panel'%>
    
      <div class="col p-4">
        <%= render 'form_slot'%>
      </div>

    </div>
  </div>
</div>

<div class="action-form-slot">
  a<br>
  a<br>
  a<br>
  a<br>
</div>



<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>


