<div class="form-card">
  <h2 class="fs-title">Personal Information</h2> 
  <input type="text" name="fname" placeholder="First Name" /> 
  <input type="text" name="lname" placeholder="Last Name" /> 
  <input type="text" name="phno" placeholder="Contact No." /> 
  <input type="text" name="phno_2" placeholder="Alternate Contact No." />
</div> 

<button class="btn btn-primary previous action-button-previous" type="button" name="previous">Back</button>
<button type="buttton" class="btn btn-primary">Save</button>
<button class="btn btn-primary next action-button" type="button" value="Next Step" name="next">Next</button>
<button type="buttton" class="btn btn-primary">Close</button>