<div class="form-card">
    <h2 class="fs-title">Account Information</h2> 
    <input type="email" name="email" placeholder="Email Id" /> 
    <input type="text" name="uname" placeholder="UserName" /> 
    <input type="password" name="pwd" placeholder="Password" /> 
    <input type="password" name="cpwd" placeholder="Confirm Password" />
</div> 
<input type="button" name="next" class="next action-button" value="Next Step" />