<%= form_with class: "form-add-template" do %>
<div class="row">
  <div class="col-sm-12">
      <p style="color:red; text-align: left; margin-left: 10px;">Note: * indicates required fileld</p>
  </div>
  <div class="col-sm-12">
      
      <%# group name %>
      <div class="row">
          <div class="col-sm-3">
              <label>Name (*)</label>
          </div>
          <div class="col-sm-9">
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Please enter name' %>
          </div>
      </div>
      <br>
      <%# status %>
      <div class="row">
        <div class="col-sm-3">
          <label>Role (*)</label>
        </div>
        <div class="col-sm-9">
          <%= select_tag "role", options_from_collection_for_select(@roles, "id", "name"), class: 'form-control' %>
          <div id="error-status"></div>
        </div>
      </div>
      <br>
      <%# Description %>
      <div class="row">
        <div class="col-sm-3">
          <label>Description</label>
        </div>
        <div class="col-sm-9">
          <%= text_area_tag 'desc', nil, class: "form-control", rows: 5, style: 'width:100%;', placeholder: "Please enter description" %>
          <div id="error-status"></div>
        </div>
      </div>
      <br>
  </div>
</div>
<% end %>
<button class="btn btn-primary next action-button" type="button" value="Next Step" name="next">Next</button>
<button class="btn btn-primary">Cancel</button>