<%= form_with class: "form-add-template" do %>
<div class="row">
  <div class="col-sm-12">
      
      <div class="col-sm-8" style="text-align: left">
        <p style="color:red;">Note: * indicates required fileld</p>
      </div>
  </div>
  <div class="col-sm-12">
      
      <%# group name %>
      <div class="row">
          <div class="offset-md-1 col-sm-2 bg-primary" style="text-align: left">
              <label>Name (*)</label>
          </div>
          <div class="col-sm-8">
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Please enter name' %>
          </div>
      </div>
      <br>
      <%# status %>
      <div class="row">
          <div class="offset-md-1 col-sm-2 bg-primary" style="text-align: left">
              <label>Type</label>
          </div>
          <div class="col-sm-8">
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Please enter name' %>
          </div>
      </div>
      <br>
      <%# Description %>
      <div class="row">
          <div class="offset-md-1 col-sm-2 bg-primary" style="text-align: left">
              <label>Description</label>
          </div>
          <div class="col-sm-8">
              <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Please enter name' %>
          </div>
      </div>  
      <br>
  </div>
</div>
<% end %>
<button class="btn btn-primary next action-button" type="button" value="Next Step" name="next">Next</button>
<button class="btn btn-primary">Cancel</button>