<div class="modal fade" id="modal_warning_cancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header head-myheader">
        <h4 class="modal-title " style="text-align: left">Notification</h4>
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="justify-content: center;" >
         Do you want to redirect to template page ?
      </div>
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-primary" id="btnAlertCancel">Yes</button>
        <button type="button" class="btn btn-light border-dark" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>