<%= stylesheet_link_tag 'font-awesome.min', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'jquery.dataTables.min', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'template-index', media: 'all', 'data-turbolinks-track': 'reload' %>

<table class="table table-primary">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Role</th>
      <th scope="col">Status</th>
      <th scope="col">Lastest update</th>
      <th scope="col">Updated by</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row">1</td>
      <td scope="row">tesst 1</td>
      <td scope="row">dsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdfdsdf</i></td>
      <td scope="row">Last Name</td>
      <td scope="row">Email Address</td>
      <td scope="row">dsdf</i></td>
      <td scope="row">Last Name</td>
      <td scope="row">
        <button class="btn btn-primary btnUp" ><i class="fa fa-arrow-circle-up"></i></button>
        <button class="btn btn-primary btnDown"><i class="fa fa-arrow-circle-down"></i></button>
      </td>
    </tr>
    <tr>
      <td scope="row">1</td>
      <td scope="row">tesst 1</td>
      <td scope="row">dsdf</i></td>
      <td scope="row">Last Name</td>
      <td scope="row">Email Address</td>
      <td scope="row">dsdf</i></td>
      <td scope="row">Last Name</td>
      <td scope="row">
        <button class="btn btn-primary btnUp" ><i class="fa fa-arrow-circle-up"></i></button>
        <button class="btn btn-primary btnDown"><i class="fa fa-arrow-circle-down"></i></button>
      </td>
    </tr>
        <tr>
      <td scope="row">1</td>
      <td scope="row">tesst 1</td>
      <td scope="row">dsdf</i></td>
      <td scope="row">Last Name</td>
      <td scope="row">Email Address</td>
      <td scope="row">dsdf</i></td>
      <td scope="row">Last Name</td>
      <td scope="row">
        <button class="btn btn-primary btnUp" ><i class="fa fa-arrow-circle-up"></i></button>
        <button class="btn btn-primary btnDown"><i class="fa fa-arrow-circle-down"></i></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="row">
  <div class="col-1">No</div>
  <div class="col-1">Name</div>
  <div class="col-1">Description</div>
  <div class="col-1">Role</div>
  <div class="col-1">Status</div>
  <div class="col-1">Lastest update</div>
  <div class="col-1">Updated by</div>
  <div class="col-1">Action</div>
</div>

<table class="table table-responsive table-popup-privilege table_left" id="table_left">
  <thead>
    <tr >
      <th scope="col"style="border: 2px solid #000;">No</th>
      <th scope="col"style="border: 2px solid #000;"><input type="checkbox" class="selectAll1"></th>
      <th scope="col"style="border: 2px solid #000;">Privilege Name</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    
    </tr>
  </tbody>
</table>
