<p id="notice"><%= notice %></p>

<p>
  <strong>Reference:</strong>
  <%= @group_privilege.reference %>
</p>

<%= link_to 'Edit', edit_group_privilege_path(@group_privilege) %> |
<%= link_to 'Back', group_privileges_path %>
