<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAdd">Add</button>
<!-- The Modal -->
<div class="modal fade modal-form-add-user" id="modalAdd">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title" style="text-align: center">Add A New Group Name</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <p style="color:red">Note: * indicates required fileld</p>
            </div>
            <div class="col-sm-12">
              <%# group name %>
              <div class="row">
                <div class="col-sm-3">
                  <label>Group Name (*)</label>
                </div>
                <div class="col-sm-9">
                  <%= text_field_tag 'name', nil, class: 'form-control', placeholder: 'Please enter group name' %>
                </div>
              </div>
              <br>
              <%# status %>
              <div class="row">
                <div class="col-sm-3">
                  <label>Status (*)</label>
                </div>
                <div class="col-sm-9">
                  <span><%= radio_button_tag 'status', "Enable", false, class: "status" %> Enable<span>
                      &emsp;
                      <span><%= radio_button_tag 'status', "Disable", false, class: "status" %> Disable<span>
                          <div id="error-status"></div>
                        </div>
                      </div>
                      <br>
                      <%# Description %>
                      <div class="row">
                        <div class="col-sm-3">
                          <label>Description</label>
                        </div>
                        <div class="col-sm-9">
                          <%= text_area_tag 'desc', nil, rows: 5, style: 'width:100%;' %>
                        </div>
                      </div>
                      <br>
                    </div>
                  </div>
                  <div style="text-align: center">
                    <button type="submit" class="btn btn-primary" id="btn-submit-add-user-group">Submit</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                  <%# end container  %>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
