<!-- The Modal -->
<div class="modal fade modal-form-add-user" id="modal_edit_location">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header head-myheader">
        <h4 class="modal-title" style="text-align: center">Edit Your Location</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-4">
                  <label>Nationality</label>
                </div>
                <div class="col-sm-8">
                  <select id="nationality" class="form-control selectpicker countrypicker" data-default="<%= @current_user.nationality ? @current_user.nationality : "Viet Nam" %>"></select>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <label>Permanent Address</label>
                </div>
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-6">
                      <select name="calc_shipping_provinces" id="provinces" class="form-control" required="">
                        <option value="">Tỉnh / Thành phố</option>
                      </select>
                    </div>
                    <div class="col-sm-6">
                      <select name="calc_shipping_district" id="district" class="form-control" required="">
                        <option value="">Quận / Huyện</option>
                      </select>
                    </div>
                    <input class="billing_address_1" name="" type="hidden" value="">
                    <input class="billing_address_2" name="" type="hidden" value="">
                  </div>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-sm-4">
                  <label>Current Address</label>
                </div>
                <div class="col-sm-8">
                  <input type="text" id="current_address" maxlength="200"  class="form-control" value="<%= @current_user.current_address  %>" placeholder="Enter your current address" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <input type="hidden" value="<%= @current_user.id %>" id="user_id">
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" style="justify-content: center;">
        <button type="button" class="btn btn-primary btn-save-edit">Save</button>
        <button type="button" class="btn btn-light border-dark cancel-edit-user-profile" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
