<div class="modal fade" id="modalResetPassword">
  <div class="modal-dialog modal-lg">
    <div class="modal-content"  style="width: 600px;">
      <div class="modal-header head-myheader" style="height:50px">
        <h4 class="modal-title" style="text-align: center">Confirm Reset Password</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="width: 600px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <p>Are you sure you want to reset password for the user <span class="user-account-confirm-password" style="font-weight: bold;"></span> ?</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="justify-content: center;border-top:0px;">
        <button type="button" class="btn btn-primary" id="confirm_reset_password">Yes</button>
        <button type="button" class="btn btn-light border-dark" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
