<%= form_with(url: "/admin/user_management/search/", method: "get",class: "form-search-user-management") do  |f|%>
  <div class="row">
    <div class="col-sm-1">
      <p><b>Search</b></p>
    </div>
    <div class="col-sm-4">
      <input class="form-control" type="text" name="q" id="q" required>
    </div>
    <div class="col-sm-1">
      <button type="submit" id="btn-search-user-management" class="btn btn-primary" >Go</button>
    </div>
  </div>
<% end %>
