<!-- The Modal -->
<div class="modal fade" id="modalStatusEnableUsers">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header head-myheader">
        <h4 class="modal-title">Confirm User Disable</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <p class="display_number_users_disable"></p>
            </div>
          </div>
          <div style="text-align: center">
            
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer" style="justify-content: center;">
          <button type="button" class="btn btn-danger btn-modal-enable-multiple-users" disabled>Yes</button>
          <button type="button" class="btn btn-light border-dark" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
