<table class="table" id="table_user_management" data-source="<%= users_path(format: :json) %>">
  <thead>
    <% even_odd_classname = cycle("odd", "even") %>
    <tr class="<%= even_odd_classname %>">
      <th style="background-image:none">
        <div class="resource_selection_toggle_cell">
          <label>
            <input type="checkbox" id="collection_selection_toggle_all" name="collection_selection_toggle_all" class="toggle_all">
          </label>
        </div>
      </th>
      <th scope="col" class="id" class="number" style="width:10px;text-align:center">No.</th>
      <th scope="col" class="first_name" style="text-align:center">First Name</th>
      <th scope="col" class="last_name" style="text-align:center">Last Name</th>
      <th scope="col" class="email" style="text-align:center">Email</th>
      <th scope="col" class="account"style="text-align:center">Account</th>
      <th scope="col" class="role" style="text-align:center">Role</th>
      <th scope="col" class="title"style="text-align:center">Title</th>
      <th scope="col" class="project"style="text-align:center">Project</th>
      <th scope="col" class="company"style="text-align:center">Company</th>
      <th scope="col" class="action" style="background-image:none;text-align:center">Action</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
