<div > <button id="displayBtnDel" type='button' class='btn btn-light btn-xs float-right' data-tooltip="true" data-placement="top" title="Delete schedule"  data-toggle='modal' data-target='#modalDeleteS' style="margin: 5px 15px 5px 0px;background:#dcdcdc" disabled><%= image_tag("Delete.png", size: "16x16") %>  Delete</button></div>
<div class="modal fade modal-form-add" id="modalDeleteS" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header head-myheader">
        <h4 class="modal-title" id="exampleModalLabel">Confirm Delete Schedule</h4>
        <button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure to detete those schedules?</p>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-primary" id="delete_selected">Yes</button>
        <button type="button" class="btn btn-light border-dark" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
