<%= javascript_include_tag 'table_title_mapping_edit.js', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class='row'>
  <div class='col-12'>
    <div class='basic-table-wrapper '>
      <table id="edit_title_mapping_table" class="table table-responsive-sm table-basic table-mytable border-table table-edit-title-mapping">
        <thead>
          <tr id="title_header_column">
            <td class="th">Title</td>
            <td class="th">Rank</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
