<div class="row">
  <div class="col-sm-12">
    <table class="table table-primary table-responsive-sm table-mytable table-new-title-mapping">
      <thead>
        <tr id="title_header_column">
          <th class="static_title_header_col">Title</td>
          <th class="static_title_header_col">Rank</td>
          <th class="static_title_header_col">Level</td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>
