<%= javascript_include_tag 'table_title_mapping.js', media: 'all', 'data-turbolinks-track': 'reload' %>
<div class="row">
  <div class="col-sm-12">
    <table class="table table-primary table-responsive-sm table-mytable border-table table-new-title-mapping">
      <thead>
        <tr id="title_header_column">
          <td class="static_title_header_col">Title</td>
          <td class="static_title_header_col">Rank</td>
        </tr>
      </thead>
      <tbody      >
      </tbody>
    </table>
  </div>
</div>
