<div id="box_project" class="row" style="display: none;">
  <input class="project-id form-control" type="text" disabled style="display: none;" />
  <div class="row">
    <label class="col-2">Company Name(*):</label>
    <div class="message-project-company-name col-4">
      <select class="project-company-name form-control"></select>
    </div>
    <label class="col-2">Project Manager(*):</label>
    <div class="message-project-manager col-4">
      <input type="text" class="project-manager form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Project Name(*):</label>
    <div class="message-project-name col-4">
      <input type="text" class="project-name form-control" />
    </div>
    <label class="col-2">Customer:</label>
    <div class="message-project-customer col-4">
      <input type="text" class="project-customer form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Abbreviation:</label>
    <div class="message-project-abbreviation col-4">
      <input type="text" class="project-abbreviation form-control" />
    </div>
    <label class="col-2">Sponsor:</label>
    <div class="message-project-sponsor col-4">
      <input type="text" class="project-sponsor form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Establishment(*):</label>
    <div class="message-project-establishment col-4">
      <input type="text" class="joined-date project-establishment form-control" />
    </div>
    <label class="col-2">Email(*):</label>
    <div class="message-project-email col-4">
      <input type="text" class="project-email form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Closed Date:</label>
    <div class="message-project-closed-date col-4">
      <input type="text" class="joined-date project-closed-date form-control" />
    </div>
    <label class="col-2">No. of Employees:</label>
    <div class="message-project-quantity col-4">
      <input type="text" class="project-quantity form-control" disabled style="background-color: rgb(239, 239, 239);" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Description:</label>
    <div class="message-project-desc col-4">
      <textarea class="project-desc form-control"></textarea>
    </div>
    <label class="col-2">Note:</label>
    <div class="message-project-note col-4">
      <textarea class="project-note form-control"></textarea>
    </div>
  </div>
</div>