<div id="box_title" class="row" style="display: none">
  <input class="title-id form-control" type="text" disabled style="display: none;" />
  <div class="row">
    <label class="col-2">Role Name(*):</label>
    <div class="col-4">
      <select class="title-role-name form-control"></select>
    </div>
    <label class="col-2">Rank(*):</label>
    <div class="col-4">
      <input type="number" class="title-rank form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Title Name(*):</label>
    <div class="col-4">
      <input type="text" class="title-name form-control" />
    </div>
    <label class="col-2">Abbreviation:</label>
    <div class="col-4">
      <input type="text" class="title-abbreviation form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Description:</label>
    <div class="col-4">
      <textarea class="title-description form-control"></textarea>
    </div>
    <label class="col-2">Note:</label>
    <div class="col-4">
      <textarea class="title-note form-control"></textarea>
    </div>
  </div>
</div>
