<div id="box_company" class="row">
  <input class="company-id form-control" type="text" disabled style="display: none;" />
  <div class="row">
    <label class="col-2">Company name(*):</label>
    <div class="col-4">
      <input type="text" class="company-name form-control" />
    </div>
    <label class="col-2">CEO(*):</label>
    <div class="col-4">
      <input type="text form-control" class="company-ceo form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Abbreviation:</label>
    <div class="col-4">
      <input type="text" class="company-abbreviation form-control" />
    </div>
    <label class="col-2">Parent company:</label>
    <div class="col-4">
      <select class="company-parent-company-id form-control"></select>
    </div>
  </div>
  <div class="row">
    <label class="col-2">Establishment(*):</label>
    <div class="col-4">
      <input
        type="text"
        class="company-establishment form-control joined-date"
      />
    </div>
    <label class="col-2">No. of employeest:</label>
    <div class="col-4">
      <input
        type="text"
        class="company-quantity form-control"
        disabled
        style="background-color: rgb(239, 239, 239);"
      />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Phone(*):</label>
    <div class="col-4">
      <input type="number" class="company-phone form-control" />
    </div>
    <label class="col-2">Email Staff:</label>
    <div class="col-4">
      <input type="text" class="company-email-group-staff form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Fax:</label>
    <div class="col-4">
      <input type="text" class="company-fax form-control" />
    </div>
    <label class="col-2">Email HR:</label>
    <div class="col-4">
      <input type="text" class="company-email-group-hr form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Email(*):</label>
    <div class="col-4">
      <input type="text" class="company-email form-control" />
    </div>
    <label class="col-2">Email FA:</label>
    <div class="col-4">
      <input type="text" class="company-email-group-fa form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Tax Code:</label>
    <div class="col-4">
      <input type="text" class="company-tax-code form-control" />
    </div>
    <label class="col-2">Email IT:</label>
    <div class="col-4">
      <input type="text" class="company-email-group-it form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Website:</label>
    <div class="col-4">
      <input type="text" class="company-website form-control" />
    </div>
    <label class="col-2">Email Admin:</label>
    <div class="col-4">
      <input type="text" class="company-email-group-admin form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Description:</label>
    <div class="col-4">
      <textarea class="company-description form-control"></textarea>
    </div>
    <label class="col-2">Address(*):</label>
    <div class="col-4">
      <textarea class="company-address form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <label class="col-2">Note:</label>
    <div class="col-4">
      <textarea class="company-note form-control"></textarea>
    </div>
  </div>
</div>
<div id="box_project" class="row" style="display: none;">
  <input class="project-id form-control" type="text" disabled style="display: none;" />
  <div class="row">
    <label class="col-2">Company Name(*):</label>
    <div class="col-4">
      <select class="project-company-name form-control"></select>
    </div>
    <label class="col-2">Project Manager(*):</label>
    <div class="col-4">
      <input type="text" class="project-manager form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Project Name(*):</label>
    <div class="col-4">
      <input type="text" class="project-name form-control" />
    </div>
    <label class="col-2">Customer:</label>
    <div class="col-4">
      <input type="text" class="project-customer form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Abbreviation:</label>
    <div class="col-4">
      <input type="text" class="project-abbreviation form-control" />
    </div>
    <label class="col-2">Sponsor:</label>
    <div class="col-4">
      <input type="text" class="project-sponsor form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Establishment(*):</label>
    <div class="col-4">
      <input type="text" class="joined-date project-establishment form-control" />
    </div>
    <label class="col-2">Email(*):</label>
    <div class="col-4">
      <input type="text" class="project-email form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Closed Date:</label>
    <div class="col-4">
      <input type="text" class="joined-date project-closed-date form-control" />
    </div>
    <label class="col-2">No. of Employees:</label>
    <div class="col-4">
      <input
        type="text"
        class="project-quantity form-control"
        disabled
        style="background-color: rgb(239, 239, 239);"
      />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Description:</label>
    <div class="col-4">
      <textarea class="project-description form-control"></textarea>
    </div>
    <label class="col-2">Note:</label>
    <div class="col-4">
      <textarea class="project-note form-control"></textarea>
    </div>
  </div>
</div>
<div id="box_role" class="row" style="display: none;">
  <input class="role-id form-control" type="text" disabled style="display: none;" />
  <div class="row">
    <label class="col-2">Role Name(*):</label>
    <div class="col-4">
      <input type="text" class="role-name form-control" />
    </div>
    <label class="col-2">Abbreviation:</label>
    <div class="col-4">
      <input type="text" class="role-abbreviation form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Description:</label>
    <div class="col-4">
      <textarea class="role-description form-control"></textarea>
    </div>
    <label class="col-2">Note:</label>
    <div class="col-4">
      <textarea class="role-note form-control"></textarea>
    </div>
  </div>
</div>
<div id="box_title" class="row" style="display: none">
  <input class="title-id form-control" type="text" disabled style="display: none;" />
  <div class="row">
    <label class="col-2">Role Name(*):</label>
    <div class="col-4">
      <select class="title-role-name form-control"></select>
    </div>
    <label class="col-2">Rank(*):</label>
    <div class="col-4">
      <input type="number" class="title-rank form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Title Name(*):</label>
    <div class="col-4">
      <input type="text" class="title-name form-control" />
    </div>
    <label class="col-2">Abbreviation:</label>
    <div class="col-4">
      <input type="text" class="title-abbreviation form-control" />
    </div>
  </div>
  <div class="row">
    <label class="col-2">Description:</label>
    <div class="col-4">
      <textarea class="title-description form-control"></textarea>
    </div>
    <label class="col-2">Note:</label>
    <div class="col-4">
      <textarea class="title-note form-control"></textarea>
    </div>
  </div>
  <div class="row">
    <label class="col-2">Code(*):</label>
    <div class="col-4">
      <input type="text" class="title-code form-control" />
    </div>
  </div>
</div>
