<p>Dear all,</p>
<p>Please review and commit the CDS Assessment for period [mmm dd, yyyy] - [mmm dd, yyyy] of your project / Department before: [end date 3]</p>
<p>Thank you,</p>
<p>HR Department</p>
