<p>Dear all,</p>
<p>Please complete the CDS Assessment in period <%= @period.from_date.strftime('%b %d, %Y') %> - <%= @period.to_date.strftime('%b %d, %Y') %> of your project / Department before: <%= @schedule.end_date_hr%></p>
<p>Thank you</p>
<p>HR Department</p>
