<p>Dear all,</p>
<p>Please complete your feedback of assigned CDS Assessments in period <%= @period.from_date.strftime('%b %d, %Y') %> - <%= @period.to_date.strftime('%b %d, %Y') %> before: <%= @schedule.end_date_reviewer%></p>
<p>Thank you</p>
<p><%= @sender %></p>
