<table class="table" id="table_user_management" data-source="<%= admin_users_path(format: :json) %>">
  <thead>
    <% even_odd_classname = cycle("odd", "even") %>
    <tr class="<%= even_odd_classname %>">    
      <th>
        <div class="resource_selection_toggle_cell">
          <label>
            <input type="checkbox" id="collection_selection_toggle_all" name="collection_selection_toggle_all" class="toggle_all">
          </label>
        </div>
      </th>
      <th scope="col" class="id" class="number" style="width:10px">No.</th>
      <th scope="col" class="first_name">First Name</th>
      <th scope="col" class="last_name">Last Name</th>
      <th scope="col" class="email">Email</th>
      <th scope="col" class="account">Account</th>
      <th scope="col" class="role">Role</th>
      <th scope="col" class="title">Title</th>
      <th scope="col" class="project">Project</th>
      <th scope="col" class="company">Company</th>
      <th scope="col" class="action">Action</th>      
      
    </tr>
  </thead>
  <tbody>
  </tbody>
  </table>
