<!-- The Modal -->
<div class="modal fade" id="modalDeleteManyUsers">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header head-myheader">
        <h4 class="modal-title">Confirm User Delete</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <p>Do you want to delete <span id="number-user-del"></span> ?</p>
            </div>
          </div>
          <div style="text-align: center">
            <button type="button" class="btn btn-primary" id="btn-modal-delete-user" data-dismiss="modal" onclick="">Delete</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- hidden input to contains id-->
        </div>
      </div>
    </div>
  </div>
