<!-- The Modal -->
<div class="modal fade" id="modalDeleteMultipleUsers">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header head-myheader">
        <h4 class="modal-title">Confirm User Delete</h4>
      </div>
      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12">
              <p class="display_number_users_delete"></p>
            </div>
          </div>
          <div style="text-align: center">
            <button type="button" class="btn btn-danger btn-modal-delele-multiple-users" disabled>Yes</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
          </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- hidden input to contains id-->
        </div>
      </div>
    </div>
  </div>
