<p>Dear <%= @staff_name %> ,</p>

<p>The request for update your CDS/CDP assessment on competency  <%= @competency_name %> "/slot"<%= @slot_id %> has been cancel. Please ignore this request.</p>
<p>Recommend:  <%= @recommend %></p>


<p>Thank you,</p>
<p>CDS System</p>