<p>Dear <%= @reviewer_names %>, </p>

<p>The CDS/CDP assessment period [<%= @from_date %> - <%= @to_date %>] of <%= @name %> has been withdrawn to update. </p>

<p>Please stop reviewing this CDS/CDP.</p>

<p>Thank you,</p>
<p>CDS System</p>