<div class="row filter-condition" style="margin: 20px 0 20px 0; display: none;">
  <div class="col-12">
    <div class="row item-filter-dashboard">
      <div class="col-1" style="line-height: 200%">
        Company:
      </div>
      <div class="col-5 company-filter">
        <select name="company_filter" id="company_filter" class="filter-input" multiple="multiple" style="width: 100%">
        </select>
      </div>
    </div>
    <div class="row item-filter-dashboard">
      <div class="col-1" style="line-height: 200%">
        Project:
      </div>
      <div class="col-5 project-filter">
        <select name="project_filter" id="project_filter" class="filter-input" multiple="multiple">
        </select>
      </div>
    </div>
    <div class="row item-filter-dashboard">
      <div class="col-1" style="line-height: 200%">
        Role:
      </div>
      <div class="col-5 role-filter">
        <select name="role_filter" id="role_filter" class="filter-input" multiple="multiple">
        </select>
      </div>
    </div>
    <div class="row item-filter-dashboard btn-filter">
      <div class="col-1">
      </div>
      <div class="col-m-1">
        <button class="btn btn-primary apply-filter">Apply</button>
      </div>
      <div class="col-1">
        <button class="btn btn-secondary reset-filter">Reset</button>
      </div>
    </div>
  </div>
</div>
