<style>
  body{
      background:#70b3fb;
  }
  .forget-pwd > a{
      color: #dc3545;
      font-weight: 500;
  }
  .forget-password .panel-default{
      padding: 31%;
      margin-top: -27%;
  }
  .forget-password .panel-body{
      padding: 15%;
      margin-bottom: -50%;
      background: #fff;
      border-radius: 5px;
      -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  img{
      width:40%;
      margin-bottom:10%;
  }
  .btn-send{
      border:none;
  }
</style>
<div class="container forget-password">
  <div class="row">
    <div class="col-md-12 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="text-center">
            <img src="/assets/car-key.png" alt="car-key" border="0">
            <h2 class="text-center">Forgot Password?</h2>
            <p>You can reset your password here.</p>
            <form id="register-form" role="form" autocomplete="off" class="form" method="post">
              <%= form_with(url: "/users/reset_password", method: "post") do |f| %>
                <div class="form-group">
                  <div class="input-group">
                    <input autofocus="autofocus" autocomplete="email" class="form-control" placeholder="Please input your email" type="email" name="email" id="email">
                  </div>
                </div>
                <div class="form-group">
                  <a class="btn btn-lg btn-primary btn-block btn-send" id="send_mail_forget_password" href="javascript:;">Send</a>
                  <%= render "users/shared/links" %>
                </div>
              <% end %>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="alert-message">
  <div id="alert-warning" class="alert alert-warning" data-alert="alert"><span id="content-alert-warning"></span></div>
  <div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
</div>
<%= javascript_include_tag 'password', 'data-turbolinks-track': 'reload' %>
