<%# <div class="container-fluid cdp-slot-wrapper" id="slot_1">
  <div class="row">
    <div class="col-11 div-slot" data-toggle="collapse" data-target="#content_slot_1">
      <a type='button' class='btn-action' title="View slot's history" id="btn_view_history"><i class="fas fa-caret-down"></i></a>
      <b id="description-slot">2A - Recognized as a proactive member of the team</b>
    </div>
    <div class="col-1 div-slot" class="div-icon">
      <a type='button' class='btn-action' title="View slot's history" id="btn_view_history"><i class="fas fa-history icon-green"></i></a>
      <a type='button' class='btn-action' title="View slot's history" id="btn_edit"><i class="fa fa-edit icon-yellow"></i></a>
    </div>
  </div>
  <div id="content_slot_1" class="collapse padding-collapse">
    <div class="row div-content">
      <div class="col-2">
        <b>Evidence Guideline:</b>
      </div>
      <div class="col-10">
        Là một thành viên đóng góp tích cực cho nhóm / dự án. Nằm trong số những người đóng góp hàng đầu cho dự án.
        Phản ví dụ: Khoảng 4:00 PM thấy ứng dụng cho khách hàng [bản production] deploy tại www.abc.com bị down và không giải quyết được.
        5:30 PM cứ thế đi về nhà mà không báo cho cấp trên để giải quyết triệt để
      </div>
    </div>
    <div class="row div-content">
        <div class="col-2">
          <b>Staff Commit (*):</b>
        </div>
        <div class="col-3">
          <select class="form-control" id="staff-commit">
            <option value="uncommit" selected> Uncommit </option>
            <option value="commit_cds"> Commit CDS</option>
            <option value="commit_cdp"> Commit CDP</option>
          </select>
        </div>
    </div>
    <div class="row div-content" id="staff-assessment" style="display:none">
        <div class="col-2">
          <b>Self-Assessment (*):</b>
        </div>
        <div class="col-3">
          <select class="form-control" id="self-assessment">
            <option value="1" selected> 1 - Does Not Meet Minimum Standards </option>
            <option value="2"> 2 - Needs Improvement</option>
            <option value="3"> 3 - Meets Expectations</option>
            <option value="4"> 4 - Exceeds Expectations</option>
            <option value="5"> 5 - Outstanding</option>
          </select>
        </div>
    </div>
    <div class="row div-content div-row">
        <div class="col-2">
          <b>Staff Comment (*):</b>
        </div>
        <div class="col-3">
          <textarea placeholder="<comment content if any>" class="form-control text-comment"></textarea>
        </div>
    </div>
    <div class="row div-row arrow-box row-cdp">
      <div class="col-3 div-slot" data-toggle="collapse" data-target="#reviewer_review">
        <a type='button' class='btn-action' title="View slot's history" id="btn_view_history"><i class="fas fa-caret-down"></i></a>
        <b>Reviewer Review</b>
      </div>
    </div>
    <div id="reviewer_review" class="collapse padding-collapse-children">
      <div class="row div-content">
        <table class="table table-review" id="table-reviewer">
          <tr>
            <td>Reviewer 1</td>
            <td>
              <select class="form-control select-commit" id="reviewer-asssessment">
                <option value="uncommit" selected> Uncommit </option>
                <option value="commit"> Commit</option>
              </select>
            </td>
            <td>
              <textarea placeholder="<comment content if any>" class="form-control"></textarea>
            </td>
          </tr>
          <tr>
            <td>Reviewer 2</td>
            <td>
              <select class="form-control select-commit">
                <option value="uncommit" selected> Uncommit </option>
                <option value="commit"> Commit</option>
              </select>
            </td>
            <td>
              <textarea placeholder="<comment content if any>" class="form-control"></textarea>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="row div-row arrow-box row-cdp">
      <div class="col-3 div-slot" data-toggle="collapse" data-target="#approver">
        <a type='button' class='btn-action' title="View slot's history" id="btn_view_history"><i class="fas fa-caret-down"></i></a>
        <b>Approver Review</b>
      </div>
    </div>
    <div id="approver" class="collapse padding-collapse-children">
      <div class="row div-content">
          <table class="table table-review" id="table-approver" >
            <tr>
              <td>Approver name</td>
              <td>
                <select class="form-control select-commit">
                  <option value="uncommit" selected> Uncommit </option>
                  <option value="commit"> Commit</option>
                </select>
              </td>
              <td>
                <textarea placeholder="<comment content if any>" class="form-control"></textarea>
              </td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</div> %>

