<div id="sidebar-container" class="sidebar-expanded d-none d-md-block left_panel">
  <div id="accordion">
  
    <div class="left-panel-competency">  
      <div style="float: right">
        <a href="javascript:void(0)" data-toggle="sidebar-colapse">
          <span id="collapse-icon" class="fa fa-2x fa-angle-double-left"></span>
        </a>
      </div>
    </div>
  
      <table class="table table-primary table-responsive-sm table-mytable">
        <thead>
          <tr>
            <td class="col-12" style="color:white">Competency
              <div style="float: right" >
                <a href="javascript:void(0)" data-toggle="sidebar-colapse" class="">
                  <span id="collapse-icon" class="fa fa-2x fa-angle-double-left" style="color:white"></span>
                </a>
              </div>
            </td>
          </tr>
        </thead>
      </table>
      <div id="competency_panel">
      </div>
      
    </div>
  
</div>

