<!-- The Modal -->
  <div class="modal fade modal-history-assessment" id="modal_history_assessment">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header head-myheader">
          <h4 class="modal-title " style="text-align: center">View Assessment History</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            
            <div class="row">
              <div class="col-12">You are viewing assessment history of Competency <span id="assessment_history_competency_name" class="view-assessment-history__title--bold"></span> / Slot <span id="assessment_history_slot_id" class="view-assessment-history__title--bold"></span>.
              </div>
              
            </div>
          </div>
          <%# end container  %>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer" style="justify-content: center;">
          <button type="button" class="btn btn-light border-dark" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
