<!-- The Modal -->
  <div class="modal fade modal-history-assessment" id="modal_history_assessment">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header head-myheader">
          <h4 class="modal-title " style="text-align: center">View Assessment History</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div class="col-12">
                You are viewing assessment history of Competency <span id="assessment_history_competency_name" class="view-assessment-history__title--bold"></span> / Slot <span id="assessment_history_slot_id" class="view-assessment-history__title--bold"></span>.
              </div>
              <div class="col-12">
                <table class="table table-primary table-responsive table-mytable table-view-assessment-history">
                  <thead>
                    <tr>
                      <td rowspan="2">Period</td>
                      <td colspan="2">Staff</td>
                      <td colspan="3">Line Manager</td>
                      <td rowspan="2">Reviewed Date</td>
                    </tr>
                    <tr>
                      <td>Self Assessment</td>
                      <td>Evidence</td>
                      <td>Recommend</td>
                      <td>Out</td>
                      <td>Name</td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>07/2019 – 03/2020</td>
                      <td>3 - Meets Expectations</td>
                      <td>I word very hard, have many good idea</td>
                      <td >Ok</td>
                      <td>1 - Does Not Meet Minimun Standards</td>
                      <td>PhungNV</td>
                      <td>23/03/2020  08:00:00</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              
            </div>
          </div>
          <%# end container  %>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer" style="justify-content: center;">
          <button type="button" class="btn btn-light border-dark" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
