<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'form_cds_review', 'data-turbolinks-track': 'reload' %>
<% breadcrumb :cds_review %>
<link rel="stylesheet" href="https://www.jquery-az.com/boots/css/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css">
<script type="text/javascript" src="https://www.jquery-az.com/boots/js/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<div class="container-fluid">
  <div class="row" style="background-color: #8da8db; height: 40px; line-height: 40px; margin: 0px 0px 0px 0px; color: white; font-weight">
    <div class="col-6" style="font-size: 150%;">
      CDS & CDP Review List
    </div>
    <div class="col-6" style="text-align:right">
      Search:
      <input type="text" class="search-review" placeholder="Enter User Name, Email" style="height: 88%">
      <a href="javascript:void(0);" style="color: white; text-decoration: none" class="filter_review">
        <i class="fas fa-chevron-up" style="color: black"></i>
        Filter
      </a>
    </div>
  </div>
  <div class="col-12 filter-assessment-review">
    <%= render "filter_review" %>
  </div>
  <div class="row" >
    <div class="col-12" style="">
      <table class="table table-primary table-responsive-sm table-cds-assessment-manager-list table-mytable">
        <thead>
          <tr>
            <td>No.</td>
            <td>Period</td>
            <td>User Name</td>
            <td>Project</td>
            <td>Email</td>
            <td>Role</td>
            <td>Level</td>
            <td>Rank</td>
            <td>Title</td>
            <td>CDS Submitted Date</td>
            <td>Reviewed Date</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
<%= render 'modal_delete_cds' %>
