<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'form_cds_review', 'data-turbolinks-track': 'reload' %>
<div class="container-fluid">
  <div class="row" style="background-color: #8da8db; height: 40px; line-height: 40px; margin: 0px 0px 0px 0px; color: white; font-weight">
    <div class="col-10" style="font-size: 150%;">
      CDS & CDP Review List
    </div>
  </div>
  <div class="row">
    <div class="col-2 filter-title">
      Company:
    </div>
    <div class="col-4">
      <select name="company_filter" id="company_filter" class="filter-input"></select>
    </div>
    <div class="col-4" class="company_token">
    </div>
  </div>
  <div class="row">
    <div class="col-2 filter-title">
      Project:
    </div>
    <div class="col-4">
      <select name="project_filter" id="project_filter" class="filter-input"></select>
    </div>
    <div class="col-4" class="project_token">
    </div>
  </div>
  <div class="row">
    <div class="col-2 filter-title">
      Role:
    </div>
    <div class="col-4">
      <select name="role_filter" id="role_filter" class="filter-input"></select>
    </div>
    <div class="col-4" class="role_token">
    </div>
  </div>
  <div class="row">
    <div class="col-2 filter-title">
      User:
    </div>
    <div class="col-4">
      <select name="user_filter" id="user_filter" class="filter-input"></select>
    </div>
    <div class="col-4" class="user_token">
    </div>
  </div>
  <div class="row">
    <div class="col-2 filter-title">
      Period:
    </div>
    <div class="col-4">
      <select name="period_filter" id="period_filter" class="filter-input"></select>
    </div>
    <div class="col-4" class="period_token">
    </div>
  </div>
  <div class="row" >
    <div class="col-12" style="">
      <table class="table table-primary table-responsive-sm table-cds-assessment-manager-list table-mytable">
        <thead>
          <tr>
            <td>No.</td>
            <td>Period</td>
            <td>User Name</td>
            <td>Project</td>
            <td>Email</td>
            <td>Role</td>
            <td>Level</td>
            <td>Rank</td>
            <td>Title</td>
            <td>CDS Submitted Date</td>
            <td>Reviewed Date</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div id="alert-success" class="alert alert-success" data-alert="alert"><span id="content-alert-success"></span></div>
<div id="alert-danger" class="alert alert-danger" data-alert="alert"><span id="content-alert-fail"></span></div>
<%= render 'modal_delete_cds' %>
