<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'form', 'data-turbolinks-track': 'reload' %>


<div class="container-fluid">
  <div class="row" style="background-color: #8da8db; height: 40px; line-height: 40px; margin: 0px 0px 0px 0px; color: white; font-weight">
    <div class="col-10" style="font-size: 150%;">
      CDS Assesssment List
    </div>
    <div class="col-2" style="text-align: right">
      123
    </div>
    <div class="col-12" style="padding: 0px">
      <table class="table table-primary table-responsive-sm table-mytable table-cds-assessment-list">
        <thead>
          <tr>
            <td>No.</td>
            <td>Period</td>
            <td>Role</td>
            <td>Cấp</td>
            <td>Bậc</td>
            <td>Title</td>
            <td>Status</td>
            <td>Action</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
          <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>