<div class="modal fade" id="delete-user-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <!-- Modal Header -->      
      <div class="modal-header">
          <p class="modal-title" style="text-align:center;font-size:18px">Confirm to Delete User</p>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
          <div class="container-fluid">
            <div class="row">
              <div>Are you sure you want to delete this group?</div>
              <input type="text" id="user_delete_id" class="hidden"></input>
            </div>

            <div class="row">
              <button type="submit" class="btn btn-primary" id="btn-modal-delete-user">
              <a style="text-decoration: none; color: inherit;" href="
                <%= link_to("#" , { class: "action_icon", :"data-dismiss" => "modal", :"data-target" => "#delete-user-modal", :method => :delete}) %>">
                Yes        
              </a>
              </button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
            </div>
          </div>
        </div>        
      </div>    
    </div>
  </div>
</div>