// index

.table-cds-assessment-manager-list tr td:nth-child(1) {
  width: 1%;
}

.table-cds-assessment-manager-list tr td:nth-child(2) {
  width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(3) {
  width: 13%;
}

.table-cds-assessment-manager-list tr td:nth-child(4) {
  width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(5) {
  width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(6) {
  width: 4%;
}

.table-cds-assessment-manager-list tr td:nth-child(7) {
  width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(8) {
  width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(9) {
  width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(10) {
  width: 13%;
}

.table-cds-assessment-manager-list tr td:nth-child(11) {
  width: 13%;
}

.table-cds-assessment-manager-list tr td:nth-child(13) {
  width: 1%;
}

.table-cds-assessment-manager-list tr td {
  text-align: center;
  vertical-align: middle;
  border: 1px solid white;
  padding: 0px 10px 0px 10px;
}
.table-cds-assessment-list tr td {
  padding: 0px 10px 0px 10px;
  border: 1px solid white;
}
.table-cds-assessment-list thead tr td {
  text-align: left;
}
.table-cds-assessment-list tbody tr td:nth-child(1) {
  width: 4%;
  text-align: right;
}
.table-cds-assessment-list tbody tr td:nth-child(2),
.table-cds-assessment-list tbody tr td:nth-child(6) {
  width: 25%;
  text-align: left;
}
.table-cds-assessment-list tbody tr td:nth-child(3),
.table-cds-assessment-list tbody tr td:nth-child(4),
.table-cds-assessment-list tbody tr td:nth-child(5),
.table-cds-assessment-list tbody tr td:nth-child(7) {
  width: 8%;
  text-align: left;
}
.table-cds-assessment-list tbody tr td:nth-child(8) {
  text-align: center;
  // width: 12%;
}
.button-add-cds-assessment button {
  font-size: 90%;
  background-color: #8da8db;
  border: none;
}
.icon {
  width: 13px;
  height: 13px;
  font-size: 19px;
}

// form cds assessment
#body-row {
  margin-left: 0;
  margin-right: 0;
}
#sidebar-container {
  padding: 0;
}

.card table tr a {
  color: black;
}

#sidebar-container a:hover {
  text-decoration: none;
}
/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
  width: 270px;
}
.sidebar-collapsed {
  width: 30px;
}

/* Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
  height: 45px;
  padding-left: 30px;
}
.sidebar-submenu {
  font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
  background-color: #333;
  height: 35px;
}
.sidebar-separator {
  background-color: #333;
  height: 25px;
}
.list-group-item {
  border: none;
  padding: 0px;
}
.card .table-mytable thead {
  background-color: #ccc;
}
.card-body {
  padding: 0px;
}
.card-header {
  padding: 0px;
}
.competency table {
  margin-bottom: 0px !important;
}
.container-fluid {
  padding: 0px;
}
.left_panel .table-mytable td {
  color: black;
}
.left_panel .left_panel .btn {
  padding: 0px;
}
.left_panel .table-mytable {
  margin-bottom: 0px;
}
.left_panel .card table {
  font-size: 15px;
}
.left_panel table td {
  border-left: 1px solid white !important;
  border-color: white;
}
.left_panel table th {
  border-top: none;
}

.left_panel table td:nth-child(2) {
  text-align: left;
}

// filter
.filter-slots ul {
  width: 350px;
}
.filter-slots .multiselect-native-select ul li a {
  color: black;
}
.filter-slots .multiselect-native-select ul li a label {
  padding-left: 5px;
}

//search
.search-assessment {
  // height: 80%;
  width: 50%;
}

// action
.list-action a {
  color: white;
  text-decoration: none;
  padding-left: 10px;
}
.list-action a li {
  font-size: 120%;
}

// preview result
.table-statistic-preview-result thead tr {
  background-color: #8da8db;
  font-weight: bold;
}
.table-statistic-preview-result,
.table-preview-result thead {
  color: black;
}
.table-statistic-preview-result,
.table-preview-result thead tr td {
  text-align: center;
  font-weight: bold;
}
.td-expected {
  color: #42b6f5;
}
.table-statistic-preview-result td {
  border: 1px solid #7abaff;
}
.table-statistic-preview-result,
.table-preview-result td {
  background-color: white;
  border: 1px solid #7abaff;
}

.assessed {
  background-color: #007a00 !important;
  border: 1px solid #7abaff;
}
.re-assessed-slots {
  background-color: #00dcff !important;
  border: 1px solid #7abaff;
}
.new {
  background-color: white !important;
  border: 1px solid #7abaff;
}
.fail-slot {
  color: red;
}
.pass-slot {
  color: yellow;
}
.pass-slot:hover {
  color: white;
}
.fail-slot:hover {
  color: red;
}
.illustration .title {
  border: 1px solid #7abaff;
  border-radius: 10px;
  padding-top: 5px;
}
.title-table-form-preview-result {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #8da8db;
  font-weight: bold;
  font-size: 20px;
}
.table-statistic-preview-result tbody td {
  background-color: white;
}

.table-preview-result tbody td {
  background-color: #eee;
}
.table-preview-result thead tr {
  background-color: white;
}
.table-preview-result .form-pr-level {
  background-color: #edebab;
}
.table-preview-result tbody .form-pr-level {
  text-align: right;
}
.table-preview-result tbody .form-competency-name {
  text-align: left;
}
.table-preview-result tr td:nth-child(1) {
  background-color: white !important;
}
.form-slot-num-1 {
  background-color: #93dba3 !important;
}
.form-slot-num-2 {
  background-color: #d4f6ff !important;
}
.form-slot-num-3 {
  background-color: #feffd4 !important;
}
.form-slot-num-4 {
  background-color: #d4f6ff !important;
}
.form-slot-num-5 {
  background-color: #93dba3 !important;
}
.breadcrumb-preview-result {
  font-weight: bold;
  font-size: 20px;
}
// view assessment history
.view-assessment-history__title--bold {
  font-weight: bold;
}
.table-view-assessment-history thead tr td {
  border: 1px solid #7abaff;
  vertical-align: middle;
}
.table-view-assessment-history tbody tr td {
  border: 1px solid #7abaff;
  text-align: left;
}
.table-view-assessment-history tbody tr td:nth-child(1),
.table-view-assessment-history tbody tr td:nth-child(7) {
  width: 10%;
}
.table-view-assessment-history tbody tr td:nth-child(2),
.table-view-assessment-history tbody tr td:nth-child(5) {
  width: 15%;
}
.table-view-assessment-history tbody tr td:nth-child(3),
.table-view-assessment-history tbody tr td:nth-child(4) {
  width: 25%;
}
// end ngthuy

//_form_slot
.csd-assessment-table {
  table {
    table-layout: fixed;
    border: solid #a1b5da;
  }
  background-color: #fff;
  thead {
    background-color: #4472c4;
    th {
      border: solid #fff;
      border-width: 2px 2px 0px 2px;
      color: #fff;
      text-align: center;
      vertical-align: middle;
    }
  }
  td {
    height: 30px;
    vertical-align: middle;
    border: 2px solid #a1b5da;
    padding: 5px;
    // position: relative;a
  }
  .tr-linemanager {
    background-color: #8da8db;
    color: #000;
    border: 3px solid #6f95db;
  }
  .tr-staff {
    background-color: yellow;
    color: #000;
    border: 2px solid #4472c4;
  }

  textarea {
    top: 0;
    left: 0;
    border: 0 none;
    outline: 0 none;
    width: 100%;
    height: 100%;
  }
  // .scroll::-webkit-scrollbar {
  //   display: none;
  // }
  .autoresizing {
    display: block;
    overflow: hidden;
    resize: none;
  }
  select {
    padding: 0px 2px;
    border: none;
    height: 100%;
    width: 100%;
    background-color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    white-space: pre-wrap;
  }
  .disabled {
    cursor: not-allowed;
  }
}
