// Place all the styles related to the LevelMappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$color-disable: #afaaaa;

.filter-title {
    margin-left: 20px;
    font-weight: bold;
}

.table-wrapper {
    max-height: 420px;
    max-width: 1800px;
    overflow: auto;
    overflow-x: auto;

    .table-basic {
        text-align: left;
        overflow: scroll;

        .th {
            border: 1px solid #fff;
            background-color: #3A5FCD;
            text-align: center;
            font-size: medium;
        }

        table {
            border: 2px solid #0066CC;

            thead {
                color: #fff;
                font-size: large;
                font-weight: bold;
                max-height: 5px;

                th {
                    position: sticky;
                    top: 0;
                }
            }

            tbody {
                .odd {
                    background-color: #CFD5EA;
                }

                .even {
                    background-color: #E9EBF5;
                }

                td {
                    border: 1px solid #fff;
                    vertical-align: middle !important;
                }
            }
        }
    }

    #table_summary_comment {
        .period {
            width: 20%;
        }

        .user-name {
            width: 15%;
        }

        .commented-date {
            width: 15%;
        }
    }
}

.filter-input {
    width: 250px;
}

.table-cds-assessment-manager-list {
    margin: 0 auto;
}

.table-cds-assessment-manager-list tr td:nth-child(1) {
    width: 1%;
    height: 42px;
}

.table-cds-assessment-manager-list tr td:nth-child(2) {
    width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(3) {
    width: 10%;
}

.table-cds-assessment-manager-list tr td:nth-child(4) {
    width: 6%;
}

.table-cds-assessment-manager-list tr td:nth-child(5) {
    width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(6) {
    width: 7%;
}

.table-cds-assessment-manager-list tr td:nth-child(7) {
    width: 9%;
}

.table-cds-assessment-manager-list tr td:nth-child(8) {
    width: 4%;
}

.table-cds-assessment-manager-list tr td:nth-child(9) {
    width: 4%;
}

.table-cds-assessment-manager-list tr td:nth-child(10) {
    width: 12%;
}

.table-cds-assessment-manager-list tr td:nth-child(11) {
    width: 10%;
}

.table-cds-assessment-manager-list tr td:nth-child(13) {
    width: 1%;
}

.table-cds-assessment-manager-list tr td {
    text-align: center;
    vertical-align: middle;
    padding: 0px 10px 0px 10px;
    border: 1px solid white;
}

.table-cds-assessment-manager-list tr th {
    border: 1px solid white;
}

.table-cds-assessment-list {
    border: 2px solid #0066CC;

    tr {
        td {
            padding: 0px 10px 0px 10px;
            border: 1px solid white;
            text-align: left;
        }
    }

    thead {
        tr {
            th {
                border: 1px solid white;
            }
        }
    }

    tbody {
        tr {
            td {
                &:nth-child(1) {
                    width: 3%;
                }

                &:nth-child(2) {
                    width: 15%;
                }

                &:nth-child(3) {
                    width: 15%;
                }

                &:nth-child(4) {
                    width: 20%;
                    text-align: right !important;
                }

                &:nth-child(5) {
                    width: 5%;
                }

                &:nth-child(6) {
                    width: 5%;
                    text-align: left !important;
                }

                &:nth-child(7) {
                    width: 10%;
                }

                &:nth-child(8) {
                    width: 10%;
                }
            }
        }
    }
}

.button-add-cds-assessment {
    button {
        color: #fff;
        background-color: #8da8db;
        border: none;

        &.disabled {
            background-color: #afaaaa;
        }
    }
}

.divButton {
    padding-top: 25px;
    text-align: center;
}

.icon {
    width: 13px;
    height: 13px;
    font-size: 19px;
}

.icon-export-cds-review {
    margin-top: 8px;
    margin-left: 9px;
}

// form cds assessment
#body-row {
    margin-left: 0;
    margin-right: 0;
}

#sidebar-container {
    padding: 0;
}

.card table tr a {
    color: black;
}

#sidebar-container a:hover {
    text-decoration: none;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 270px;
}

.sidebar-collapsed {
    width: 30px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}

.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}

.sidebar-separator {
    background-color: #333;
    height: 25px;
}

.list-group-item {
    border: none;
    padding: 0px;
}

.card {
    border: none;
}

.card .table-mytable thead {
    background-color: $color-disable;
}

.card-body {
    padding: 0px;
}

.card-header {
    padding: 0px;
}

.competency table {
    margin-bottom: 0px !important;
}

.container-fluid {
    padding: 2px;
}

.left_panel .table-mytable td {
    color: black;
}

.left_panel .left_panel .btn {
    padding: 0px;
}

.left_panel .table-mytable {
    margin-bottom: 0px;
}

.left_panel .card table {
    font-size: 15px;
}

.left_panel table td {
    border-left: 1px solid white !important;
    border-color: white;
}

.left_panel table th {
    border-top: none;
}

.left_panel table td:nth-child(2) {
    text-align: left;
}


// filter
.filter-slots ul {
    width: 350px;
}

.filter-slots .multiselect-native-select ul li a {
    color: black;
}

.filter-slots .multiselect-native-select ul li a label {
    padding-left: 5px;
}

//search
.search-assessment {
    height: 85%;
    width: 25%;
}

// action
.list-action a {
    color: white;
    text-decoration: none;
    padding-left: 10px;
}

.list-action a li {
    font-size: 120%;
}

// preview result
.table-statistic-preview-result {
    td {
        border: 1px solid #42719a;
    }

    thead tr {
        background-color: #8da8db;
        font-weight: bold;
    }
}

.illustration .title {
    border: 1px solid #42719a;
    border-radius: 10px;
    padding-top: 5px;
}

.title-table-form-preview-result {
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: #8da8db;
    font-weight: bold;
    font-size: 20px;
}

.form-slot-num-1 {
    background-color: #93dba3 !important;
}

.form-slot-num-2 {
    background-color: #d4f6ff !important;
}

.form-slot-num-3 {
    background-color: #feffd4 !important;
}

.form-slot-num-4 {
    background-color: #d4f6ff !important;
}

.form-slot-num-5 {
    background-color: #93dba3 !important;
}

.breadcrumb-preview-result {
    font-weight: bold;
    font-size: 20px;
}

// view assessment history
.view-assessment-history__title--bold {
    font-weight: bold;
}


.table-view-assessment-history tbody tr td:nth-child(7) {
    width: 15%;
}

.table-view-assessment-history tbody tr td:nth-child(2),
.table-view-assessment-history tbody tr td:nth-child(5) {
    width: 15%;
}

.table-view-assessment-history tbody tr td:nth-child(3),
.table-view-assessment-history tbody tr td:nth-child(4) {
    width: 20%;
}

.table-view-assessment-history {
    border: 1px solid #4472c4;

    td {
        border: 1px solid #a1b5da;
    }
}

// flag
.flag-cds-assessment {
    color: red !important;
}

.icon {
    font-size: 25px;
}

.icon-list {
    font-size: 100%;
}

.icon:hover {
    font-size: 25px;
}

// end ngthuy

//_form_slot
.csd-assessment-table {
    table {
        table-layout: fixed;
        // border: solid #a1b5da;
    }

    background-color: #fff;

    thead {
        background-color: #4472c4;

        th {
            border: 1px solid #a1b5da;
            border-width: 2px 2px 0px 2px;
            color: #fff;
            text-align: center;
            vertical-align: middle;
        }
    }

    td {
        height: 30px;
        vertical-align: middle;
        border: 1px solid #a1b5da;
        padding: 5px;
        // position: relative;a
    }

    .tr-linemanager {
        background-color: #8da8db;
        color: #000;
        border: 2px solid #6f95db;
    }

    .tr-staff {
        background-color: yellow;
        color: #000;
        border: 1px solid #4472c4;
    }

    textarea {
        top: 0;
        left: 0;
        border: 0 none;
        outline: 0 none;
        width: 100%;
        height: 100%;
    }

    // .scroll::-webkit-scrollbar {
    //   display: none;
    // }
    .autoresizing {
        display: block;
        overflow: hidden;
        resize: none;
    }

    select {
        padding: 0px 2px;
        border: none;
        height: 100%;
        width: 100%;
        background-color: #fff;
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: "";
        white-space: pre-wrap;
    }
}

.csd-assessment-table table tbody tr td:nth-child(9) {
    text-align: center;
}

td.disabled,
textarea:disabled,
select:disabled {
    background-color: rgb(169, 169, 169);
}

.line-slot {
    padding-left: 5px;
}

.flag-yellow {
    color: yellow !important;
}

.flag-green {
    color: green !important;
}

.flag-red {
    color: red !important;
}



.horizontal-scroll-except-first-column {
    width: 100%;
    overflow: auto;
    max-height: calc(100vh - 450px);

    table {
        margin-bottom: 0;
        table-layout: fixed;
        border-collapse: separate;
        border-spacing: 0;
    }
}

// cds review
.item-filter-review {
    margin: 10px 0 10px 0;
}

.badge {
    border: 1px solid black;
    padding-left: 5px !important;
    margin-right: 10px;
    margin-bottom: 5px;
}

.badge span {
    padding-right: 5px;
}

.badge button span {
    color: red;
}

.table-preview-result {
    .form-competency-name {
        text-align: left;
        background-color: white !important;
    }

    .form-pr-rank {
        background-color: #f9f584 !important;
    }

    .form-pr-level {
        background-color: #f9f584 !important;
        text-align: right;
    }

    .td-expected {
        color: #42b6f5;
    }

    .slot-header {
        padding: 10px;
        text-align: center;
        width: 40px;

        &.lv1 {
            background-color: #c5e0b4;
        }

        &.lv2 {
            background-color: #deecf7;
        }

        &.lv3 {
            background-color: #fcf2cc;
        }

        &.lv4 {
            background-color: #dae4f3;
        }

        &.lv5 {
            background-color: #f3d5f3;
        }

        &.lv6 {
            background-color: #b4e0ca;
        }

        &.lv7 {
            background-color: #aed6ee;
        }

        &.lv8 {
            background-color: #b3a5e0;
        }

        &.lv9 {
            background-color: #dde0b3;
        }

        &.lv10 {
            background-color: #d8b8b1;
        }
    }

    th {
        position: sticky;
        z-index: 2;
        top: 0;
        border-top: 1px solid #42719a;
        border-left: 1px solid #42719a;
        border-bottom: 1px solid #42719a !important;

        &.fixed-header {
            z-index: 3;
        }

        &.column-1 {
            left: 0;
            background-color: $color-disable;
        }

        &.column-2 {
            left: 400px
        }

        &.column-3 {
            left: 460px
        }
    }

    td {
        padding: 10px;
        text-align: center;
        border-bottom: 1px solid #42719a;
        border-left: 1px solid #42719a;
        vertical-align: middle;
        background-color: $color-disable;

        &.fixed-column {
            position: sticky;
            z-index: 1;

            &.column-1 {
                left: 0
            }

            &.column-2 {
                left: 400px
            }

            &.column-3 {
                left: 460px
            }
        }
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;

    i {
        color: #6c757d
    }
}

.table {
    margin-bottom: 1px !important;
}