.error {
    color: red;
}

#alert-success, #alert-danger {
    position: absolute;
    z-index: 3400;
    top: 7%;
    left: 1%;
    margin: 0px auto;
    text-align: center;
    display: none;
}
#table_user_management tr.odd > th {
    font-size: 14px;
    background: #009EE0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#table_user_management > tbody[role="alert"] > tr > td{
    border: 1px solid #fff;
}

#table_user_management tr.even > td {
    font-size: 12px;
    background: rgb(0, 198, 224);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

#table_user_management tr.odd > td {
    font-size: 12px;
    background: #009ED0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.action_icon > img
{
  width: 18px;
  height: 18px;
}

.next_page_icon{
  width: 16px;
  height: 12px;
}

.prev_page_icon{
  width: 16px;
  height: 12px;
}

.arrow_icon{
   width: 16px;
   height: 12px;
}

.add_reviewer_index{
    text-align: center !important;
}

#table_user_management_info{
    color: black;
}

#table_user_management_paginate{
    color: black;
}

#table_user_management_next{
    color: black;
}

#table_user_management_previous{
    color: black;
}

.panel_contents table tr.odd > th {
    font-size: 14px;
    background: #009EE0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.panel_contents table th td{
    border: 1px solid #fff;
}

.panel_contents table tr.even > td {
    font-size: 12px;
    background: rgb(0, 198, 224);
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.panel_contents table tr.odd > td {
    font-size: 12px;
    background: #009ED0;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


.table-mytable {
	text-align: center;
	tbody tr:nth-of-type(odd) {
		background-color: #C6E2FF;
	}

	thead {
		background-color: #0066CC;
		color: #fff;
		font-weight: bold;
	}
}
.table, td, tr{
	border: 1px solid;
}
.td-mytd{
	text-align: center;
	display: flex;
  justify-content: center;
  flex-direction: column;
	margin: 0 auto;
	padding: 0;
}
.head-myheader {
	background-color: #0066CC;
}
.button-center{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}
.mycontrol{
	top: 2rem;
	width: 1.15rem;
	height: 1.15rem;

}
.fa-toggle-off {
    font-size: 20px;
    color: #ff0000;
}
.fa-toggle-on {
    font-size: 20px;
    color: #ffffff;
}

.key_icon, .user_group_icon {
    color: #fff;
    font-size: 15px;
}