.error {
    color: red;
}

#alert-success,
#alert-danger {
    position: absolute;
    z-index: 3400;
    top: 10%;
    left: 50%;
    margin: 0px auto;
    text-align: center;
    display: none;
}

.resource_selection_toggle_cell {
    text-align: center;
    /* center checkbox horizontally */
    vertical-align: middle;
    /* center checkbox vertically */
}

#table_group tr.odd>th {
    font-size: 16px;
    background-color: #4472c4;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    border: 2px solid #fff;
}

#table_group>tbody[role="alert"]>tr>td {
    border: 1px solid #fff;
}

table.dataTable tbody td {
    padding: 5px 10px 0px 10px;
}

#table_group tr.even>td {
    font-size: 16px;
    background-color: #cfd5ea;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-align: left;
}


#table_group tr.odd>td {
    font-size: 16px;
    background-color: #E9ebf5;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    text-align: left;
}

#table_group tr>td.numericCol {

    text-align: right;
}

.action_icon>img {
    width: 18px;
    height: 18px;
}

.next_page_icon {
    width: 16px;
    height: 12px;
}

.prev_page_icon {
    width: 16px;
    height: 12px;
}

.arrow_icon {
    width: 16px;
    height: 12px;
}

.add_reviewer_index {
    text-align: center !important;
}

#table_group_info {
    color: black;
}

#table_group_paginate {
    color: black;
}

#table_group_next {
    color: black;
}

#table_group_previous {
    color: black;
}

.panel_contents table tr.odd>th {
    font-size: 14px;
    background-color: #4472c4;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.panel_contents table th td {
    border: 1px solid #fff;
}

.panel_contents table tr.even>td {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}

.panel_contents table tr.odd>td {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}


.table-mytable {
    text-align: center;
}

thead {
    background-color: #4472c4;
    color: #fff;
    font-weight: bold;
}


.td-mytd {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}

.head-myheader {
    background-color: #4472c4;
}

.button-center {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.mycontrol {
    top: 2rem;
    width: 1.15rem;
    height: 1.15rem;

}

.fa-toggle-off {
    font-size: 20px;
    color: #ff0000;
}

.fa-toggle-on {
    font-size: 20px;
    color: #ffffff;
}

.key_icon,
.user_group_icon {
    color: #000;
    font-size: 15px;
}

.table-popup-privilege {
    display: table;
}

.table-popup-privilege tbody tr:nth-of-type(odd) {
    background-color: #E9ebf5;
    ;
}

.table-popup-privilege tbody tr:nth-of-type(even) {
    background-color: #E9ebf5;
}

.table-popup-privilege tbody tr th {
    background-color: #cfd5ea;
}

.table-popup-privilege thead {
    text-align: center;
    background-color: #4472c4;
    color: #fff;
    font-weight: bold;
}

.modal-form-add-privilege table {
    border-collapse: collapse;
}

.modal-form-add-privilege th,
td {
    border: 2px solid #fff;
}

.modal-form-add-privilege .modal-header {
    background-color: #4472c4;
    color: #fff;
}

.modal-form-add-privilege .testScroll {
    overflow-y: auto;
    height: 350px;
}

.modal-form-add-privilege .button-center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    float: left;
    height: 350px;
    /* Equal with height in #testScroll*/
    padding: 0;
}

.modal-form-add-privilege .button-center.privilege button {
    margin: 5px 0 5px 0;
}

input.button-add {
    background-image: url(/assets/Add.png);
    /* 16px x 16px */
    background-color: transparent;
    /* make the button transparent */
    background-repeat: no-repeat;
    /* make the background image appear only once */
    background-position: 0px 0px;
    /* equivalent to 'top left' */
    border: none;
    /* assuming we don't want any borders */
    cursor: pointer;
    /* make the cursor like hovering over an <a> element */
    height: 16px;
    /* make this the size of your image */
    padding-left: 16px;
    /* make text start to the right of the image */
    vertical-align: middle;
    /* align the text vertically centered */
}

.error {
    color: red;
    font-size: 10px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

.modal-title {
    font-size: 18px;
}

.dataTables_wrapper .dataTables_filter input {
    background-image: url(/assets/search-3-16.png);
    background-repeat: no-repeat;
    background-position: right center;
    outline: 0;
    margin-left: 0.5em;
    width: 300px;
}
.key_icon,
.user_group_icon {
    color: #007bff;
    font-size: 15px;
}

table.dataTable tbody td.sorting_1 {
    text-align: right;
}

table.dataTable tbody td {
    text-align: left;
}

table.table-popup-privilege {
    border: 3px solid #4882bf;
}

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody+tbody {
    border-color: #ffffff !important;
}

.fa {
    width: 13px;
    height: 13px;
    font-size: 19px;
    margin-right: 5px;
}

#table_group tbody td:nth-child(7) {
    width: 8%;
}