// Place all the styles related to the help controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
ul {
    list-style-type: none;
    padding-inline-start: 20px;
}
.row {
    margin: 0;
    padding: 0;
    width: 100%;

    .left-panel {
        padding: 0;
    }
}

.show-help-2 {
    display: none;
}
img {
    width: 100%;
}

.show-help-1-1,
.show-help-2-1,
.show-help-2-2,
.show-help-2-3,
.show-help-2-4,
.show-help-2-5,
.show-help-2-6,
.show-help-2-7 {
    font-weight: 600;
    color: #000;
}
