.table-mytable {
	text-align: left;
	overflow: auto;
	tbody tr:nth-of-type(odd) {
		background-color: #C6E2FF;
	}
	.td_num{
		text-align: right;
	}
	.td_action{
		text-align: center;
	}
	thead {
		color: #fff;
		font-size: large;
		font-weight: bold;
		background-color: #007bff;
	}
	table, th, td {
		border: 1px solid #FFF;
	}
	th{
		text-align: center;
		font-size: medium;
	}
	.btn_move {
		background-color: #B9D3EE;
		text-align: center;
		border: none;
	}
}
.divHeader {
	font-size: x-large;
	background-color:  #007bff;
	text-align: left;
	color: #FFF;
	padding: 10px;
	margin: auto;
	font-weight: bold;
}
.divChilHeader {
	font-size: large;
	background-color:  #B9D3EE;
	text-align: left;
	margin: auto;
	padding: 10px;
	font-weight: bold;
}
.icon {
	// width: 10px;
	// height: 10px;
	font-size: 20px;
}
.divTable {
	justify-content: center;
}