.table-mytable {
	text-align: left;
	overflow: auto;
	.td_num{
		text-align: right;
	}
	.td_action{
		text-align: center;
	}
	thead {
		color: #fff;
		font-size: large;
		font-weight: bold;
		background-color: #3A5FCD;
	}
	table, th, td {
		border: 1px solid #FFF;
	}
	th{
		text-align: center;
		font-size: medium;
	}
	.btn_move {
		background-color: #B9D3EE;
		text-align: center;
		border: none;
	}
	tbody .odd {
		background-color: #CFD5EA;
	}
	tbody .even {
		background-color: #E9EBF5;
	}
}
.divHeader {
	font-size: x-large;
	background-color:  #6495ED;
	text-align: left;
	color: #FFF;
	// padding-left: 10px;
	font-weight: bold;
	padding: 5px 0px 5px 10px;
}
.divChilHeader {
	font-size: large;
	background-color:  #B9D3EE;
	text-align: left;
	color: #FFF;
	padding-left: 10px;
	font-weight: bold;
}
.icon {
	// width: 10px;
	// height: 10px;
	// font-size: 20px;
}