// Place all the styles related to the LevelMappings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.table-basic {
  text-align: left;
  overflow: scroll;
  .th{
      border: 1px solid #fff;
      background-color: #3A5FCD;
      text-align: center;
      font-size: medium;
  }
  table {
    border: 2px solid #0066CC;
    thead {
      color: #fff;
      font-size: large;
      font-weight: bold;
      max-height: 5px;
    }
    tbody .odd {
      background-color: #CFD5EA;
    }
    tbody .even {
      background-color: #E9EBF5;
    }
  }
  td {
    border: 1px solid #fff;
    vertical-align: middle !important;
  }
}
#table_level_mapping tbody td {
  padding: 5px 10px 5px 10px;
}

#table_level_mapping tbody td:nth-child(1) {
  width: 17%;
  text-align: left;
}

#table_level_mapping tbody td:nth-child(2) {
  width: 6%;
  text-align: right;
}

#table_level_mapping tbody td:nth-child(3) {
  width: 6%;
  text-align: right;
}

#table_level_mapping tbody td:nth-child(4) {
  width: 40%;
  text-align: center;
}

#table_level_mapping tbody td:nth-child(5) {
  width: 10%;
  text-align: center;
}
#table_edit_level_mapping tbody td {
  padding: 5px 10px 5px 10px;
}

#table_edit_level_mapping tbody td:nth-child(1) {
  width: 17%;
  text-align: left;
}

#table_edit_level_mapping tbody td:nth-child(2) {
  width: 6%;
  text-align: right;
}

#table_edit_level_mapping tbody td:nth-child(3) {
  width: 6%;
  text-align: right;
}

#table_edit_level_mapping tbody td:nth-child(4) {
  width: 40%;
  text-align: center;
}

#table_edit_level_mapping tbody td:nth-child(5) {
  width: 10%;
  text-align: center;
}

.tr-staff {
  background-color: yellow;
  color: #000;
  text-align: center;
}
.divButton{
  padding-top: 25px;
  text-align: center;
}
.btnAdd {
  color: green;
  font-size: 20px;
}
.btnDel {
  color: red;
  font-size: 20px;
}
.divIcon{
  padding: 0px;
  text-align: left;
  .a{
    vertical-align: middle;
  }
}
.row{
  padding: 2px;
}
.col-num{
  padding-left: 1%;
  .col-title{
    padding-left: 1%;
    font-size: x-large ;
    width: 80%;
    padding-top: 0.3%;
  }
}
.circle-div {
	width: 45px;
	height: 45px;
	background: #FF6600;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  padding-top: 5px;
  color: #FFF;
  font-size: x-large;
}
a.disabled {
  pointer-events: none;
  cursor: default;
}
.vr {
  display: block;
  width:3px;
  position: absolute;
  background-color:#336699;
  top:0;
  bottom:0;
  left:2.5%;
  z-index: -1;
}
.div-table{
  padding-left: 4%;
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.basic-table-wrapper {
  max-height: 520px;
  overflow: auto;
  overflow-x: auto;
  .table thead th { 
    position: sticky;
    top: 0;
  }
  .tr-staff{
    z-index: 100;
  }
}
.row-header{
  background-color: #8da8db; 
  height: 60px;
  padding-top: 0.7%; 
  margin: auto; 
  color: white;
}
a.disabled {
  pointer-events: none;
  cursor: default;
  i{
    color:#6c757d
  }
}