#grad1 {
  background-color: #ffffff;
  border: 1px solid #ccc;
  /* background-image: linear-gradient(120deg, #FF4081, #81D4FA) */
}

#msform {
  text-align: center;
  position: relative;
  /* margin-top: 20px */
}

#msform fieldset .form-card {
  background: white;
  border: 0 none;
  border-radius: 0px;
  /* box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2); */
  padding: 20px 40px 30px 40px;
  box-sizing: border-box;
  width: 100%;
  margin: 0 3% 20px 3%;
  position: relative
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  padding-bottom: 20px;
  position: relative
}

#msform fieldset:not(:first-of-type) {
  display: none
}

#msform fieldset .form-card {
  text-align: left;
  color: #9E9E9E
}





/* #msform .action-button {
  width: 100px;
  background: skyblue;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
} */

/* #msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px skyblue
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #616161
} */

select.list-dt {
  border: none;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 2px 5px 3px 5px;
  margin: 2px
}

select.list-dt:focus {
  border-bottom: 2px solid skyblue
}

.steps {
  padding: 20px 0px 20px 0px;
  margin: 0px;
  margin-bottom: 10px;
  color: #fff;
  background-color: #009EE0;
}
.steps .step_number {
  border: 2px solid #fff;
  background-color: #f5e6bf;
  border-radius: 40%;
  margin-right: 15px;
  padding: 10px;
  /* margin-left: 10px; */
}
.step {
  /* background-color: red; */
}
.steps a {
  text-decoration: none;
  color: #fff;
}
.step-active {
  font-weight: bold;
}
.step-active .step_number {
  background-color: #edc351;
}
