<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @title_privilege.Name %>
</p>

<%= link_to 'Edit', edit_title_privilege_path(@title_privilege) %> |
<%= link_to 'Back', title_privileges_path %>
